

///////////////////  About  ///////////////////

#about {
  @extend %article-wrapper;
  padding-right: 5%;

  & .section-header {
    width: 25%;
    position: relative;

    & .section-header-img-wrapper {
      width: 70%;
      max-width: 190px;
    }
  }

  & .article-body {
    height: 85%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  & .about-interest {
    display: flex;
    width: 70%;
    margin-bottom: 5rem;
    margin-left: 15%;
    align-items: center;

    &:nth-child(even) {

      & .about-interest-image {
        order: 2;
      }

      & .about-interest-content {
        text-align: right;
      }
    }
  }

  & .about-interest-image {
    margin: 0 3rem;
    min-width: 30%;
    text-align: center;

    & img {
      max-width: 200px;
    }
  }

  & .about-interest-content {
  }

  & .article-column {
    width: 31%;
    padding-top: 37rem;
    position: relative;
  }


  & .article-column-central {
    @extend .article-column;
    padding-top: 15rem;

    & .about-interest-title-main {
      text-align: center;
      position: static;
    }
  }

  & .interest-button {
    @include make-button();
  }

  & .about-interest-title {
    font-size: 2.4rem;
    font-family: $font-family-work-sans-thin;
  }

  & .about-interest-title-main {
    font-size: 3.6rem;
    font-family: $font-family-work-sans-thin;
    line-height: 1;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: absolute;
    top: 27rem;
    left: 34.4%;
  }

  & .about-photo {
    margin: auto;
    position: relative;
    left: 10px;
    width: 100%;
    max-width: 443px;
  }
}