

///////////////////  About  ///////////////////

#about {
  @extend %article-wrapper;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 15vh 0 8vh;

  & .section-header-img-wrapper {
    width: 70%;
    max-width: 190px;
  }

  & .section-header {
    position: absolute;
    top: calc(50vh - 332px);
    left: 0;
  }

  &.scrolling-this .section-header {
    position: fixed;
  }

  &.scrolled-this .section-header {
    position: absolute;
    top: auto;
    bottom: calc(50vh - 332px);
  }

  & .article-body {
    width: 75%;
    margin-left: 25%;
    align-items: stretch;
    justify-content: flex-start;
    padding-right: 26%;
    flex-direction: column;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  & .about-interest {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;

    &:nth-child(even) {

      & .about-interest-image {
        order: 2;
      }

      & .about-interest-content {
        text-align: right;
      }
    }
  }

  & .about-interest-image {
    margin: 0 3rem;
    min-width: 21%;
    text-align: center;

    & img {
      max-width: 200px;
    }
  }

  & .interest-button {
    @include make-button();
  }

  & .about-intro {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 100%;
  }

  & .about-interest-title {
    font-size: 2.4rem;
    font-family: $font-family-work-sans-thin;
  }

  & .about-interest-title-main {
    font-size: 3.6rem;
    font-family: $font-family-work-sans-thin;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  & .about-photo {
    margin: 0 auto 3rem auto;
    position: relative;
    left: 10px;
    width: 100%;
    max-width: 400px;
  }
}