
///////////////////  Mixins  ///////////////////

@mixin make-crisp-image () {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

@mixin disable-crisp-image () {
  image-rendering: auto;         /* Firefox */
  -ms-interpolation-mode: default;  /* IE (non-standard property) */
}


@mixin make-button () {
  @include text-link();
  border: 0;
  padding: 3px 8px;
  background: transparent;
  cursor: pointer;
  outline: none !important;
}



///////////////////  Animations  ///////////////////

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



///////////////////  Fonts  ///////////////////


@font-face {
  font-family: 'she-always-walks-alone';
  src:  url('/fonts/she-always-walks-alone.woff2') format('woff2'),
        url('/fonts/she-always-walks-alone.woff') format('woff'),
        url('/fonts/she-always-walks-alone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-thin';
  src:  url('/fonts/worksans-thin.woff2') format('woff2'),
        url('/fonts/worksans-thin.woff') format('woff'),
        url('/fonts/worksans-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-light';
  src:  url('/fonts/worksans-light.woff2') format('woff2'),
        url('/fonts/worksans-light.woff') format('woff'),
        url('/fonts/worksans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-regular';
  src:  url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin text-base {
  font-family: $font-family-work-sans-light;;
  color: #000;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  line-height: 1.3;

  @include media-breakpoint-up(xxl) {
    letter-spacing: -0.02rem;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@mixin text-link {
  font-size: 1.4rem;
  letter-spacing: -0.08rem;
  font-family: $font-family-work-sans-regular;
  text-decoration: underline;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    color: #8c8c8c;
    text-decoration: underline;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
  }
}

@mixin text-display-title {
  font-family: $font-family-she-always-walks-alone;
  color: #000;
  font-size: 3.2rem;
  letter-spacing: -0.01rem;
  line-height: 1;

  @include media-breakpoint-up(xxl) {
    font-size: 4.4rem;
    letter-spacing: -0.02rem;
    line-height: 1.2;
  }
}

@mixin text-thin-title {
  font-family: $font-family-work-sans-thin;
  font-size: 2rem;
  line-height: 1.2;
  color: #000;

  @include media-breakpoint-up(xxl) {
    font-size: 2.4rem;
  }
}

@mixin text-thin-title-big {
  font-family: $font-family-work-sans-thin;
  color: #000;
  font-size: 3.4rem;
  letter-spacing: -0.08rem;
  line-height: 1;

  @include media-breakpoint-up(xxl) {
    font-size: 4.6rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
  }
}

@mixin text-thin-title-small {
  font-family: $font-family-work-sans-thin;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.03rem;
  color: #000;

  @include media-breakpoint-up(xxl) {
    line-height: 1.2;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
  }
}

@mixin text-light-title {
  font-family: $font-family-work-sans-light;
  font-size: 2rem;
  letter-spacing: -0.06rem;
  line-height: 1.2;
  color: #000;

  @include media-breakpoint-up(xxl) {
    font-size: 2.4rem;
    letter-spacing: -0.08rem;
  }
}

@mixin text-light-title-small {
  font-family: $font-family-work-sans-light;
  font-size: 1.6rem;
  letter-spacing: -0.07rem;
  line-height: 1.2;
  color: #000;

  @include media-breakpoint-up(xxl) {
    font-size: 2rem;
    letter-spacing: -0.08rem;
  }
}

@mixin text-regular-title {
  font-family: $font-family-work-sans-regular;
  font-size: 2rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
  color: #000;

  @include media-breakpoint-up(xxl) {
    font-size: 2.7rem;
    letter-spacing: -0.2rem;
  }
}

@mixin text-regular-title-small {
  font-family: $font-family-work-sans-regular;
  font-size: 1.5rem;
  letter-spacing: -0.08rem;
  line-height: 1.1;
  color: #000;

  @include media-breakpoint-up(xxl) {
    font-size: 2.2rem;
    letter-spacing: -0.12rem;
  }
}


///////////////////  Base  ///////////////////

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}


body  {
  @include text-base();
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #333;
}

h1, .h1 {
}


h2, .h2 {
}


h3, .h3 {
  //@include text-main-title();
}


///////////////////  Sections  ///////////////////

.main-container {
  @include media-breakpoint-only(lg) {
    padding: 0 4rem;
  }
  @include media-breakpoint-only(md) {
    padding: 0 3rem;
  }
  @include media-breakpoint-only(sm) {
    padding: 0 2rem;
  }
  @include media-breakpoint-only(xs) {
    padding: 0 1rem;
  }
}

.separator {
  color: #CCC;
}

%article-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.section-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 1.5%;
  @include media-breakpoint-down(lg) {
    position: static;
    width: 100%;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 5vh;
    height: 100vh;
  }
  @include media-breakpoint-up(xxl) {
    padding-left: 0;
    width: 25%;
  }
}

.section-header-title {
  @include text-display-title();
  margin-top: 3rem;
}

.section-header-subtitle {
  @include text-thin-title();
}

.article-footer {
  text-align: center;
}

.article-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0;
  @include media-breakpoint-only(xl) {
    width: 77%;
    margin-left: 23%;
  }
  @include media-breakpoint-up(xxl) {
    width: 75%;
    margin-left: 25%;
  }
}

.article-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.section-header-img {
  width: 100%;
}

&.scrolling-this .section-header {
  position: fixed;
}

&.scrolled-this .section-header {
  position: absolute;
  top: auto;
  bottom: 0;
}

.section-header-img-wrapper {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}

.article-nav {
  margin-bottom: 1rem;
  margin-top: auto;
  text-align: center;
}


///////////////////  Footer  ///////////////////

.footer {

}

.footer__title {
  color: $brand-secondary;
}

.footer__date {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
}

.footer__nav {
  padding-top: 2vw;
}

.footer__nav__button {
  @include make-button();
}

.article-header__nav__button {
  @include make-button();
}

.article-header__nav {
  //margin-bottom: auto;
}




///////////////////  Sidebar  ///////////////////

.side-bar {
  @include media-breakpoint-down(sm) {
    @include make-offcanvas-menu();
    width: $off-canvas-menu-width;
    min-height: 100%;
    position: fixed;
    top: 0;
    background-image: url('/img/side-background-mobile.jpg');
    background-repeat: repeat-y;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 14.6rem;
    top: 8.3rem;
    right: 0;
    bottom: 30rem;
  }
  @include media-breakpoint-only(md) {
    width: 15rem;
    top: 8.1rem;
  }
}

.side-bar__nav {
  position: relative;
  height: 100%;
  @include media-breakpoint-down(sm) {
    background-repeat: no-repeat;
    background-image: url('/img/main-background-mobile.jpg');
    height: 483px;
  }
  @include media-breakpoint-up(md) {
    width: 130px;
  }
}

%side-bar__nav-button {
  position: absolute;
  @include make-button();
}

.side-bar__nav__button--portfolio {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 2.2rem;
    left: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    top: 60px;
    left: 0;
  }
}

.side-bar__nav__button--skills {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 7.6rem;
    left: 1.4rem;
  }
  @include media-breakpoint-down(sm) {
    top: 119px;
    left: 3px;
  }
}

.side-bar__nav__button--experience {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 12.6rem;
    left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    top: 173px;
    left: 2px;
  }
}

.side-bar__nav__button--contact {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 17.7rem;
    left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    top: 228px;
    left: 3px;
  }
}

.side-bar__nav__button--resume {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 26.3rem;
    left: 1.8rem;
  }
  @include media-breakpoint-down(sm) {
    top: 312px;
    left: 7px;
  }
}

.side-bar__nav__button--code {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 31.5rem;
    left: 1.9rem;
  }
  @include media-breakpoint-down(sm) {
    top: 367px;
    left: 9px;
  }
}


/**
 * TrackpadScrollEmulator
 * Author: Jonathan Nicol @f6design
 * https://github.com/jnicol/trackpad-scroll-emulator
 */

.tse-scrollable { 
  position: relative;
  //width: 100%; /* Default value. Overwite this if you want. */
  //height: 70%; /* Default value. Overwite this if you want. */
  overflow: hidden;
}
.tse-scrollable .tse-scroll-content {
  overflow: hidden;
  overflow-y: scroll;
}
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.tse-scrollable .tse-scroll-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tse-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  display: block !important;
}
.scroll-teaser-enabled .tse-scrollbar {
  background: rgba(255,255,255,0.25);
  border-radius: 7px;
}
.tse-scrollbar .drag-handle {
  cursor: pointer;
  position: absolute;
  right: 2px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-height: 10px;
  width: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  background: #666;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}
.tse-scrollbar:hover .drag-handle {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.65;
  -webkit-transition: opacity 0 linear;
  -moz-transition: opacity 0 linear;
  -o-transition: opacity 0 linear;
  -ms-transition: opacity 0 linear;
  transition: opacity 0 linear;
}
.tse-scrollbar .drag-handle.visible {
  opacity: 0.65;
}
.scroll-teaser-enabled .tse-scrollbar .drag-handle.visible {
  background: #fff;
  opacity: 1;
}
/* Used when testing the scrollbar width */
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.scrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Horizontal scroller */
.tse-scrollable.horizontal .tse-scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
}
.tse-scrollable.horizontal .tse-scroll-content::-webkit-scrollbar,
.tse-scrollable.horizontal .tse-scroll-content::scrollbar {
  width: auto;
  height: 0;
}
.tse-scrollable.horizontal .tse-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
}
.tse-scrollable.horizontal .tse-scrollbar .drag-handle {
  right: auto;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}


// CAROUSEL

.carousel-inner {
  height: 100%;
}

// MODAL

.modal-backdrop.in {
  opacity: 1;
}

.modal-backdrop {
  background-color: #fff;
}

.about-model-open .modal-backdrop {
  background-color: rgba(0,0,0,0.9);
}

.carousel-control {
  position: fixed;
  top: 39%;
  color: #666;
  text-shadow: none;
  width: 90px;
  height: 90px;
  font-size: 9rem;
  font-family: $font-family-work-sans-thin;
  opacity: 1;

  &:focus,
  &:hover {
    color: #999;
  }
}

.carousel-control.left {
  background-image: none;
  left: 17%;
}

.carousel-control.right {
  background-image: none;
  right: -2%;
}

.carousel-indicators {
  width: auto;
  margin: 0;
  bottom: -21.6%;
  left: 0;
  right: 0;
  position: absolute;
  @include media-breakpoint-up(xxl) {
    bottom: -19.3%;
  }
}

.carousel-indicators li {
  border: 1px solid #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0;
}

.carousel-indicators .active {
  border: 1px solid #000;
  background-color: #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0;
}

.arrow-down {
  display: block;
  transform: rotate(-90deg);
  font-size: 5rem;
  font-family: $font-family-work-sans-thin;
  opacity: 0.5;
}


.carousel-item-scroll-teaser {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: s-resize;

  & .carousel-item-scroll-teaser-image {
    width: 20%;
    height: 16%;
    max-width: 150px;
    max-height: 71px;
    min-width: 100px;
    min-height: 50px;
  }

  & .carousel-item-scroll-teaser-text {
    font-family: $font-family-work-sans-regular;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    @include media-breakpoint-up(xxl) {
      font-size: 1.8rem;
      margin-top: 1rem;
    }
  }

  & .carousel-item-scroll-teaser-arrow {
    font-size: 3rem;
    line-height: 1;
    transform: rotate(-90deg);
  }

}

//////////////// MODAL //////////////////

.modal-dialog {
  margin: 0;
}

& .modal-close-button {
  width: 90px;
  height: 90px;
  color: #666;
  font-size: 7rem;
  font-family: $font-family-work-sans-thin;
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 1;
  background: transparent;
  border: none;
  outline: none !important;

  &:hover,
  &:focus {
    color: #999;
  }
}