

///////////////////  Contact  ///////////////////

#contact {
  @extend %article-wrapper;
  padding-right: 5%;
  align-items: center;
  min-height: 65vh;

  & .section-header {
    width: 25%;
    position: relative;

    & .section-header-img-wrapper {
      width: 77%;
      max-width: 350px;
    }
  }

  & .article-body {
    font-size: 1.5rem;
    height: 85%;
    flex-direction: column;
    text-align: center;
    padding-right: 26%;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  & .contact-title {
    font-family: $font-family-work-sans-thin;
    font-size: 3.6rem;
    margin: 2rem 0;
  }

  & .contact-methods {
    @include make-button();
    display: flex;
    justify-content: center;
  }

  & .contact-method {
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #8c8c8c;
  }
}
