

///////////////////  Contact  ///////////////////

#contact {
  @extend %article-wrapper;
  padding-right: 5%;
  align-items: center;
  min-height: 65vh;

  & .section-header {
    width: 25%;
    position: relative;

    & .section-header-img-wrapper {
      width: 77%;
      max-width: 350px;
    }
  }

  & .article-body {
    font-size: 1.6rem;
    height: 85%;
    flex-direction: column;
    text-align: center;
    padding-right: 26%;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  & .contact-title {
    @include text-regular-title();
    margin: 2rem 0;
  }

  & .contact-content {
    @include text-thin-title();
  }

  & .contact-methods {
    display: flex;
    justify-content: center;
  }

  & .contact-method {
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted #8c8c8c;
  }

  & .contact-method-img {
    width: 15%;
    height: 15%;
    margin-top: -5%;
    margin-bottom: 10px;
    display: block;
  }

  & .contact-method-link {
    @include make-button();
  }
}
