
///////////////////  Experience  ///////////////////

#experience {
  @extend %article-wrapper;
  flex-direction: column;
  padding-bottom: 8vh;
  padding-top: 12vh;

  & .section-header-img-wrapper {
    width: 90%;
    max-width: 300px;
  }

  & .section-header-img {
    position: relative;
    left: -14%;
  }

  & .article-body {
    width: 75%;
    margin-left: 25%;
    align-items: stretch;
    justify-content: flex-start;
  }

  & .experience-timeline {
    width: 15%;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 1px;
      border-left: 1px dotted #8c8c8c;
      position: absolute;
      left: 40px;
      top: 80px;
      bottom: 0;
    }
  }

  %experience-timeline-year {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px dotted #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-thin-title();
  }

  & .experience-timeline-year {
    @extend %experience-timeline-year;
  }

  & .experience-timeline-year-last {
    @extend %experience-timeline-year;
    position: absolute;
    left: 0;
    bottom: -80px;
  }

  & .experience-content {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  & .experience-employer-name {
    @include text-thin-title();
    margin-bottom: 0.5rem;
  }

  & .experience-position {
    @include text-regular-title();
    margin-bottom: 0.5rem;
  }

  & .experience-subtitle {
    @include text-base();
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
  }
}
