
///////////////////  Experience  ///////////////////

#experience {
  @extend %article-wrapper;
  flex-direction: column;
  font-size: 1.6rem;
  padding-bottom: 8vh;
  padding-top: 12vh;

  & .section-header-img-wrapper {
    width: 90%;
    max-width: 300px;
  }

  & .section-header {
    position: absolute;
    top: calc(50vh - 360px);
    left: 0;
  }

  & .section-header-img {
    position: relative;
    left: -14%;
  }

  &.scrolling-this .section-header {
    position: fixed;
  }

  &.scrolled-this .section-header {
    position: absolute;
    top: auto;
    bottom: calc(50vh - 360px);
  }

  & .article-body {
    width: 75%;
    margin-left: 25%;
    align-items: stretch;
    justify-content: flex-start;
  }

  & .experience-timeline {
    width: 15%;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 1px;
      border-left: 1px dotted #8c8c8c;
      position: absolute;
      left: 40px;
      top: 80px;
      bottom: 0;
    }
  }

  %experience-timeline-year {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px dotted #8c8c8c;
    text-align: center;
    padding-top: 2.2rem;
    font-size: 2.4rem;
    font-family: $font-family-work-sans-thin;
  }

  & .experience-timeline-year {
    @extend %experience-timeline-year;
  }

  & .experience-timeline-year-last {
    @extend %experience-timeline-year;
    position: absolute;
    left: 0;
    bottom: -80px;
  }

  & .experience-employer-logo-rocket {
    width: 30%;
    max-width: 250px;
  }

  & .experience-employer-logo-tl {
    width: 30%;
    max-width: 282px;
  }

  & .experience-employer-logo-uni {
    width: 30%;
    max-width: 250px;
  }

  & .experience-employer-logo-img {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  & .experience-content {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  & .experience-employer-name {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    font-family: $font-family-work-sans-thin;
  }

  & .experience-position {
    font-family: $font-family-work-sans-regular;
    font-size: 2.7rem;
    letter-spacing: -0.2rem;
    margin-bottom: 0.5rem;
  }

  & .experience-period {
    font-family: $font-family-work-sans-thin;
    font-size: 2.2rem;
  }

  & .experience-subtitle {
    font-family: $font-family-work-sans-light;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
  }
}
