
///////////////////  Intro  ///////////////////

#intro {
  @extend %article-wrapper;


  @include media-breakpoint-only(md) {
    height: 100vh;
    min-height: 620px;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 580px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 780px;
  }

  & .section-header {
    width: 100%;
    height: 100%;
    padding-left: 0;
  }

  & .section-header-title {
    margin-top: 30px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-top: 6vh;
      margin-bottom: 3vh;
    }
  }

  & .intro-name {
    @include text-display-title();
    display: block;
  }

  & .intro-job-title {
    @include text-thin-title-big();
    display: block;
  }

  & .intro-message {
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 3px;
    }

    &:last-of-type {
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 2vh;
      }
    }
  }

  & .section-header-img-wrapper {
    width: 40vh;
    min-width: 230px;
    max-width: 280px;
    margin-top: 11vh;
    @include media-breakpoint-up(sm) {
      max-width: 320px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 10px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      max-width: 430px;
      min-width: 320px;
    }
    @include media-breakpoint-up(xxl) {
      width: 430px;
    }
  }

  & .section-header-sub-title {
    @include text-thin-title();
    font-size: 4.5rem;
    margin-bottom: 1.8rem;
    margin-top: 0;
  }

  & .intro-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }

  & .intro-teaser-title {
    @include text-thin-title();
    visibility: hidden;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: 10px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  & .arrow-down {
    visibility: hidden;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &.teaser-title-visible .intro-teaser-title,
  &.teaser-title-visible .arrow-down {
    visibility: visible;
  }
}