
///////////////////  Intro  ///////////////////

#intro {
  @extend %article-wrapper;

  & .section-header {
    width: 50%;
  }

  & .intro-name {
    @include text-display-title();
    display: block;
  }

  & .intro-job-title {
    @include text-thin-title();
    display: block;
    font-size: 4.6rem;
    letter-spacing: -0.1rem;
  }

  & .intro-message {
    margin-bottom: 100px;
  }

  & .section-header-img-wrapper {
    max-width: 400px;
    margin-bottom: 3rem;
  }

  & .section-header-sub-title {
    @include text-thin-title();
    font-size: 4.5rem;
    margin-bottom: 1.8rem;
    margin-top: 0;
  }

  & .intro-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }

  .intro-teaser-title {
    @include text-thin-title();
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
  }

  &.teaser-title-visible .intro-teaser-title {
    display: block;
  }
}


//#intro-code {
//  z-index: 1;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 50%;
//  font-size: 24px;
//  color: rgba(255,255,255,0.5);
//  text-align: left;
//  line-height: 1;
//  padding: 40px;
//}