
///////////////////  Outro  ///////////////////

#outro {
  @extend %article-wrapper;

  & .section-header {
  }

  & .section-header-img-wrapper {
    max-width: 400px;
    margin-bottom: 3rem;
  }

  & .section-header-img {
    position: relative;
    left: 5%;
  }

  & .section-header-subtitle {
    font-size: 3rem;
  }

  & .section-header-nav {
    margin-top: 3rem;
  }

  & .section-header-sub-title {
    @include text-thin-title();
    margin-bottom: 1.8rem;
  }

}