
///////////////////  Portfolio  ///////////////////

%portfolio-item-img-preview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#portfolio {
  @extend %article-wrapper;
  flex-direction: column;

  & .section-header-img-wrapper {
    width: 90%;
    max-width: 300px;
  }

  & .section-header {
    position: absolute;
    top: calc(50vh - 273px);
    left: 0;
  }

  &.portfolio-item--open .section-header {
    display: none;
  }

  &.scrolling-this .section-header {
    position: fixed;
  }

  &.scrolled-this .section-header {
    position: absolute;
    top: auto;
    bottom: calc(50vh - 273px);
  }

  & .article-body {
    width: 75%;
    margin-left: 25%;
  }

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;
  }

  &  .portfolio-item-img {
    width: 100%;
    height: auto;
  }

  &  .portfolio-item-device-img {
    width: 100%;
    height: auto;
  }

  %portfolio-item {
    height: 100vh;
    display: flex;
    margin-bottom: 0;
  }

  .portfolio-item-title-wrapper {
    display: none;
    text-align: center;
    position: absolute;
    max-width: 241px;
    background-image: url('/img/portfolio/frame.png');
    width: 31%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 320px;
    padding: 3.7rem 3rem;
  }

  .portfolio-item-title-wrapper-horizontal {
    display: none;
    text-align: center;
    position: absolute;
    max-width: 320px;
    width: 61%;
    background-image: url('/img/portfolio/frame-horizontal.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 241px;
    padding: 3.5rem 4rem;
    left: 60%;
    top: 8%;

    & .portfolio-item-title {
      margin-bottom: 0.3rem;
      margin-top: 0.3rem;
    }

    .portfolio-item-secondary-title {
      margin-top: 0.3rem;
    }

    .portfolio-item-text {
      margin-bottom: 0;
      line-height: 1.2;
    }
  }

  .child-hovered .portfolio-item-title-wrapper,
  .child-hovered .portfolio-item-title-wrapper-horizontal {
    display: block;
  }

  .portfolio-item-details-wrapper {
    display: none;
    position: absolute;
    max-width: 350px;
    width: 31%;
    top: 5%;
    left: -30%;
  }

  &.portfolio-item--open .portfolio-item-details-wrapper {
    display: block;
  }

  .portfolio-item-title-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .portfolio-item-title {
    @include text-regular-title-small();
    margin-bottom: 0.3rem;
  }

  .portfolio-item-text {
    @include text-base();
    line-height: 1.3;
  }

  .portfolio-item-secondary-title {
    @include text-thin-title-small();
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .project-type-label {
    @include text-light-title-small();
    position: absolute;
    top: -3.1rem;
    left: 4.2%;
  }

  .portfolio-item-img-full-wrapper {
    position: absolute;
  }

  .portfolio-item-img-full {
    width: 100%;
  }

  .portfolio-item-eye-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .portfolio-item-img-preview {
    cursor: pointer;

    &:hover,
    &:focus {
      cursor: pointer;

      & .portfolio-item-img {
        opacity: 0.4;
      }

      & .portfolio-item-eye-icon {
        display: block;
      }
    }
  }

  .portfolio-item-img-full-label {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .active .portfolio-item-img-full-label {
    display: block;
  }


  /////////  DEVICES  /////////

  .portfolio-item-desktop {
    position: absolute;
    width: 60%;
    max-width: 796px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 4.2%;
      width: 93%;
      max-width: 729px;
    }
  }

  & .portfolio-item-tablet {
    position: absolute;
    width: 50%;
    max-width: 263px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 4.5%;
      left: 7%;
      width: 87%;
      max-width: 227px;
    }
  }

  & .portfolio-item-notebook {
    position: absolute;
    width: 50%;
    max-width: 600px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 12.8%;
      width: 75%;
      max-width: 445px;
    }
  }

  & .portfolio-item-mobile {
    position: absolute;
    width: 10%;
    max-width: 111px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 8.5%;
      left: 4%;
      width: 93%;
      max-width: 101px;
    }
  }

  & .portfolio-item-tv1,
  & .portfolio-item-tv2 {
    position: absolute;
    top: 18%;
    left: 1%;
    width: 55.9%;
    max-width: 800px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 2.3%;
      left: 1.5%;
      width: 97%;
      max-width: 776px;
    }
  }

  & .portfolio-item-tv2 {
    top: 34%;
    left: 37%;
  }


  & .project-type-label {
    left: 1.6%;
  }


  /////////  BK  /////////

  & .portfolio-item-bk {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      top: 13%;
      left: 15%;
    }

    & .portfolio-item-tablet {
      top: 44%;
      left: 11.5%;
    }

    & .portfolio-item-notebook {
      top: 44.6%;
      left: 52%;
    }

    & .portfolio-item-mobile {
      top: 60%;
      left: 6%;
    }

    & .portfolio-item-title-wrapper {
      left: 72.8%;
      top: 11%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo  /////////

  & .portfolio-item-vendomo {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      top: 13%;
      left: 23%;
    }

    & .portfolio-item-tablet {
      top: 44%;
      left: 66%;
    }

    & .portfolio-item-notebook {
      top: 44.6%;
      left: 0;
    }

    & .portfolio-item-mobile {
      top: 60%;
      left: 82%;
    }

    & .portfolio-item-title-wrapper {
      left: 3%;
      top: 10.5%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo CRM  /////////

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      top: 13%;
      left: 8%;
    }

    & .portfolio-item-tablet {
      top: 50%;
      left: 22%;
    }

    & .portfolio-item-notebook {
      top: 45.2%;
      left: 49%;
    }

    & .portfolio-item-mobile {
      top: 54.6%;
      left: 11.7%;
    }

    & .portfolio-item-title-wrapper {
      left: 66%;
      top: 10.5%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Foodora  /////////

  & .portfolio-item-foodora {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      top: 13%;
      left: 25%;
    }

    & .portfolio-item-tablet {
      top: 44%;
      left: 72%;
    }

    & .portfolio-item-notebook {
      top: 48.6%;
      left: 3%;
    }

    & .portfolio-item-mobile {
      top: 55.7%;
      left: 62.8%;
    }

    & .portfolio-item-title-wrapper {
      left: 5%;
      top: 14%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Timvision and Cubomusica /////////

  & .portfolio-item-timvision,
  & .portfolio-item-cubomusica {
    @extend %portfolio-item;

    & .portfolio-item-title {
      margin: 0.2rem 0 0.2rem;
    }
  }


  /////////  UNICRI  /////////

  & .portfolio-item-unicri {
    @extend %portfolio-item;

    & .project-type-label {
      top: -3rem;
    }

    & .portfolio-item-notebook-ande {
      @extend .portfolio-item-notebook;
      top: 25%;
      left: -2%;

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-eusec {
      @extend .portfolio-item-notebook;
      top: 25%;
      left: 56%;

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-cbrn {
      @extend .portfolio-item-notebook;
      top: 38%;
      left: 9%;

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-ipo {
      @extend .portfolio-item-notebook;
      top: 38%;
      left: 45%;

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-lab {
      @extend .portfolio-item-notebook;
      top: 51%;
      left: 27%;

      & .project-type-label {
        left: 50%;
        bottom: -1rem;
        top: auto;
        transform: translateX(-50%);
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 36.7%;
      top: 9%;
    }

    & .portfolio-item-subtitle-employer {
      margin-top: 0.5rem;
    }

    & .portfolio-item-title {
      margin-top: 0.5rem;
    }
  }

  /////////  Others  /////////

  & .portfolio-item-others {
    @extend %portfolio-item;

    & .portfolio-item-notebook-school {
      @extend .portfolio-item-notebook;
      top: 25%;
      left: -2%;

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-davide {
      @extend .portfolio-item-notebook;
      top: 25%;
      left: 56%;

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-milena {
      @extend .portfolio-item-notebook;
      top: 38%;
      left: 9%;

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-pandora {
      @extend .portfolio-item-notebook;
      top: 38%;
      left: 45%;

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-acqua {
      @extend .portfolio-item-notebook;
      top: 51%;
      left: 27%;

      & .project-type-label {
        left: 50%;
        bottom: -1rem;
        top: auto;
        transform: translateX(-50%);
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 36.7%;
      top: 9%;
    }
  }

  /////////  MODAL  /////////

  %portfolio-item-modal {

    & .modal-dialog {
      width: 97%;
      height: 90%;
      max-width: none;
    }

    & .portfolio-item-subtitle {
      margin-bottom: 2rem;
      font-family: $font-family-work-sans-thin;
      font-size: 1.8rem;
    }

    & .portfolio-item-modal-details-wrapper {
      position: fixed;
      left: 60px;
      top: 40px;
      width: 17%;
    }

    & .portfolio-item-modal-title {
      @include text-regular-title-small();
      margin-bottom: 0.3rem;
    }

    & .portfolio-item-modal-subtitle {
      @include text-thin-title-small();
      margin-bottom: 1.4rem;
    }

    & .portfolio-item-notebook {
      position: fixed;
      left: 16.3%;
      top: 4%;
      width: 82%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 56px;
        left: 12.5%;
        right: 12.5%;
        bottom: 206px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-mobile {
      position: fixed;
      left: 8%;
      top: 45%;
      width: 13%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 50px;
        left: 2.5%;
        right: 2.5%;
        bottom: 103px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-samsung-tv {
      position: fixed;
      left: 25%;
      top: 7.5%;
      width: 67%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 2.4%;
        left: 1.5%;
        right: 1.7%;
        bottom: 18.3%;
      }

      & .portfolio-item-device-img {
        max-width: 1239px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
        max-width: 1200px;
      }
    }

    & .modal-close-button {
      width: 150px;
      height: 150px;
      color: #666;
      font-size: 7rem;
      font-family: $font-family-work-sans-thin;
      position: fixed;
      top: -30px;
      right: -30px;
      z-index: 1;
      background: transparent;
      border: none;
      outline: none !important;

      &:hover,
      &:focus {
        color: #999;
      }
    }

    & .portfolio-item-mobile .carousel-item-scroll-teaser {
      padding-top: 66%;
    }

    & .portfolio-item-notebook .carousel-item-scroll-teaser {
      padding-top: 27%;
    }
  }

  .portfolio-item-modal-notebook-mobile {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 0;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -5%;
      left: 24.4%;
      right: 9.9%;
    }
  }

  .portfolio-item-modal-tv {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 16%;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -2%;
      left: 25%;
      right: 8.4%;
    }
  }

  .portfolio-item-modal-notebook {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 13%;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -2%;
      left: 24.4%;
      right: 9.9%;
    }
  }

  .tse-content {
    position: relative;
    cursor: ns-resize;
  }

  .carousel-labels {
    @include text-light-title-small();
    position: absolute;
    left: -1%;
    top: -3.5%;
    width: 100%;
    text-align: center;
  }

  .carousel-label {
    display: none;
  }

  .carousel-label.active  {
    display: block;
  }
}