
///////////////////  Portfolio  ///////////////////

%portfolio-item-img-preview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#portfolio {
  @extend %article-wrapper;

  & .article-body {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  & .section-header-img-wrapper {
    max-width: 260px;
    width: 68vh;
    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }
    @include media-breakpoint-up(md) {
      max-width: 300px;
      width: 90%;
    }
    @include media-breakpoint-only(lg) {
      max-width: 240px;
    }
  }

  & .section-header {
    @include media-breakpoint-only(md) {
      margin-bottom: 30px;
    }
  }

  & .section-header-title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &.portfolio-item--open .section-header {
    display: none;
  }

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;
  }

  &  .portfolio-item-img {
    width: 100%;
    height: auto;
  }

  &  .portfolio-item-device-img {
    width: 100%;
    height: auto;
  }

  %portfolio-item {
    @include media-breakpoint-only(lg) {
      padding-top: 55%;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 50%;
    }
  }

  .portfolio-items-wrapper {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin-top: 2rem;
    @include media-breakpoint-down(sm) {
      width: 111%;
      margin-top: 11%;
    }
    @include media-breakpoint-only(md) {
      width: 109%;
      margin-top: 5%;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .portfolio-item-title {
    @include text-regular-title();
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      @include text-regular-title-small();
      width: 76%;
      margin-bottom: 0.3rem;
    }
  }

  .portfolio-item-secondary-title {
    @include text-thin-title-small();
      margin-top: 0.3rem;
      margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: 0;
      width: 80%;
    }
  }

  .portfolio-item-text {
    @include text-base();
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      line-height: 1.2;
      margin-bottom: 0.1rem;
      width: 74%;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 1rem;
      line-height: 1.3;
    }
  }

  .portfolio-item-title-wrapper {
    display: block;
    width: 100%;
    margin-top: 60px;
    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }
    @include media-breakpoint-up(lg) {
      display: none;
      bottom: 57%;
      margin-top: 0;
      position: absolute;
      width: 200px;
      height: 270px;
    }
    @include media-breakpoint-up(xl) {
      bottom: 52%;
      width: 241px;
      height: 320px;
    }
  }

  .portfolio-item-title-wrapper-horizontal {
    display: block;
    width: 100%;
    margin-top: 70px;
    @include media-breakpoint-up(lg) {
      display: none;
      margin-top: 0;
      position: absolute;
      width: 280px;
      height: 215px;
    }
    @include media-breakpoint-up(xl) {
      width: 320px;
      height: 250px;
    }

    & .portfolio-item-title-content {
      @include media-breakpoint-up(lg) {
        background-image: url('/img/portfolio/frame-horizontal.png');
      }
    }

    & .portfolio-item-title {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0.3rem;
        margin-top: 0;
      }
    }

    .portfolio-item-secondary-title {
      margin-top: 0;
    }

    .portfolio-item-text {
      margin-bottom: 0;
      line-height: 1.2;
      width: 80%;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .portfolio-item-title-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/img/portfolio/frame.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }

  .portfolio-item-title-centering {
    position: absolute;
    bottom: 70%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child-hovered .portfolio-item-title-wrapper,
  .child-hovered .portfolio-item-title-wrapper-horizontal {
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .portfolio-item-details-wrapper {
    display: none;
    position: absolute;
    max-width: 350px;
    width: 31%;
    top: 5%;
    left: -30%;
  }

  &.portfolio-item--open .portfolio-item-details-wrapper {
    display: block;
  }

  .portfolio-item-title-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .project-type-label {
    @include text-light-title-small();
    position: absolute;
    top: -1.8rem;
    left: 4.2%;
    @include media-breakpoint-only(md) {
      top: -2.4rem;
    }
    @include media-breakpoint-up(xl) {
      top: -2.4rem;
    }
  }

  .portfolio-item-img-full-wrapper {
    position: absolute;
  }

  .portfolio-item-img-full {
    width: 100%;
  }

  .portfolio-item-eye-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .portfolio-item-img-preview {
    cursor: pointer;

    &:hover,
    &:focus {
      cursor: pointer;

      & .portfolio-item-img {
        opacity: 0.4;
      }

      & .portfolio-item-eye-icon {
        display: block;
      }
    }
  }

  .portfolio-item-img-full-label {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .active .portfolio-item-img-full-label {
    display: block;
  }

  .line-breaker {
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  /////////  DEVICES  /////////

  .portfolio-item-desktop {
    position: absolute;
    width: calc(56% + (56% * 0.117));
    max-width: 796px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 4.2%;
      width: 91.6%;
      max-width: 729px;
    }
  }

  & .portfolio-item-tablet {
    position: absolute;
    width: calc(19% + (19% * 0.117));
    max-width: 263px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 4.5%;
      left: 7%;
      width: 87%;
      max-width: 227px;
    }
  }

  & .portfolio-item-notebook {
    position: absolute;
    width: calc(42% + (42% * 0.117));
    max-width: 600px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 12.8%;
      width: 74.5%;
      max-width: 445px;
    }
  }

  & .portfolio-item-mobile {
    position: absolute;
    width: calc(8% + (8% * 0.117));
    max-width: 111px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 8.5%;
      left: 4%;
      width: 92%;
      max-width: 101px;
    }
  }

  & .portfolio-item-tv1,
  & .portfolio-item-tv2 {
    position: absolute;
    bottom: 21%;
    left: 4%;
    width: 55.9%;
    max-width: 800px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 2.3%;
      left: 1.5%;
      width: 97%;
      max-width: 776px;
    }
  }

  & .portfolio-item-tv2 {
    bottom: 4%;
    left: 40%;
  }

  & .notebooks-set-item1 {
    bottom: 36%;
    left: 1%;
    @include media-breakpoint-up(xl) {
      left: -2%;
    }

    & .project-type-label {
      left: auto;
      right: 10.5%;
      top: -1.6rem;
      @include media-breakpoint-up(xl) {
        top: -2.4rem;
      }
      @include media-breakpoint-only(md) {
        top: -2.4rem;
      }
    }
  }

  & .notebooks-set-item2 {
    bottom: 36%;
    left: 58%;
    @include media-breakpoint-up(xl) {
      left: 56%;
    }

    & .project-type-label {
      left: 10.5%;
      top: -1.6rem;
      @include media-breakpoint-up(xl) {
        top: -2.4rem;
      }
      @include media-breakpoint-only(md) {
        top: -2.4rem;
      }
    }
  }

  & .notebooks-set-item3 {
    bottom: 24%;
    left: 12%;
    @include media-breakpoint-up(xl) {
      left: 9%;
    }

    & .project-type-label {
      left: auto;
      right: 10.5%;
      top: -1.6rem;
      @include media-breakpoint-up(xl) {
        top: -2.4rem;
      }
      @include media-breakpoint-only(md) {
        top: -2.4rem;
      }
    }
  }

  & .notebooks-set-item4 {
    bottom: 24%;
    left: 47%;
    @include media-breakpoint-up(xl) {
      left: 45%;
    }

    & .project-type-label {
      left: 10.5%;
      top: -1.6rem;
      @include media-breakpoint-up(xl) {
        top: -2.4rem;
      }
      @include media-breakpoint-only(md) {
        top: -2.4rem;
      }
    }
  }

  & .notebooks-set-item5 {
    bottom: 12%;
    left: 29.3%;
    @include media-breakpoint-up(xl) {
      left: 26.9%;
    }

    & .project-type-label {
      left: 50%;
      bottom: -1rem;
      top: auto;
      transform: translateX(-50%);
      @include media-breakpoint-up(xl) {
        bottom: -1.4rem;
      }
      @include media-breakpoint-only(md) {
        bottom: -1.4rem;
      }
    }
  }

  & .project-type-label {
    left: 1.6%;
  }


  /////////  BK  /////////

  & .portfolio-item-bk {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 10%;
    }

    & .portfolio-item-desktop {
      bottom: 7%;
      left: 12%;
    }

    & .portfolio-item-tablet {
      bottom: 5%;
      left: 9.5%;
    }

    & .portfolio-item-notebook {
      bottom: 5%;
      left: 50%;
    }

    & .portfolio-item-mobile {
      bottom: 4%;
      left: 4%;
    }

    & .portfolio-item-title-wrapper {
      @include media-breakpoint-only(lg) {
        left: 76%;
      }
      @include media-breakpoint-up(xl) {
        left: calc(850px + 10%);
      }
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo  /////////

  & .portfolio-item-vendomo {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 10%;
    }

    & .portfolio-item-desktop {
      bottom: 7%;
      left: 23%;
    }

    & .portfolio-item-tablet {
      bottom: 5%;
      left: 70%;
    }

    & .portfolio-item-notebook {
      bottom: 5%;
      left: 4%;
    }

    & .portfolio-item-mobile {
      bottom: 4%;
      left: 86%;
    }

    & .portfolio-item-title-wrapper {
      @include media-breakpoint-up(lg) {
        left: 1%;
      }
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo CRM  /////////

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 10%;
    }

    & .portfolio-item-desktop {
      bottom: 7%;
      left: 7%;
    }

    & .portfolio-item-tablet {
      bottom: 1%;
      left: 21.5%;
    }

    & .portfolio-item-notebook {
      bottom: 5%;
      left: 49%;
    }

    & .portfolio-item-mobile {
      bottom: 8%;
      left: 11.7%;
    }

    & .portfolio-item-title-wrapper {
      @include media-breakpoint-only(lg) {
        left: 72%;
      }
      @include media-breakpoint-up(xl) {
        left: calc(790px + 10%);
      }
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Foodora  /////////

  & .portfolio-item-foodora {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 10%;
    }

    & .portfolio-item-desktop {
      bottom: 7%;
      left: 25%;
    }

    & .portfolio-item-tablet {
      bottom: 5%;
      left: 74%;
    }

    & .portfolio-item-notebook {
      bottom: 5%;
      left: 3%;
    }

    & .portfolio-item-mobile {
      bottom: 4%;
      left: 63.8%;
    }

    & .portfolio-item-title-wrapper {
      @include media-breakpoint-up(lg) {
        right: 77%;
      }
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Timvision and Cubomusica /////////

  & .portfolio-item-timvision,
  & .portfolio-item-cubomusica {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 20%;
    }

    & .portfolio-items-wrapper {
      padding-top: 56%;
    }

    & .portfolio-item-title-wrapper-horizontal {
      @include media-breakpoint-up(lg) {
        bottom: 63%;
        left: 62%;
      }
      @include media-breakpoint-up(xl) {
        bottom: 60%;
      }
    }
  }


  /////////  UNICRI & Others /////////

  & .portfolio-item-unicri,
  & .portfolio-item-others {
    @extend %portfolio-item;

    & .portfolio-items-wrapper {
      top: 25%;
      padding-top: 48%;
      @include media-breakpoint-down(sm) {
        margin-top: 4%;
      }
    }

    & .portfolio-item-notebook {
      width: 41%;
      @include media-breakpoint-up(xl) {
        width: 42%;
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      @include media-breakpoint-up(lg) {
        right: 39.5%;
        top: 11%;
        width: 22%;
        padding-top: 17%;
        height: auto;
      }
      @include media-breakpoint-up(xl) {
        top: 9%;
        right: 41%;
      }
    }

    & .portfolio-item-subtitle-employer {
      margin-top: 0.5rem;
    }

    & .project-type-label {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    & .line-breaker {
      @include media-breakpoint-down(xs) {
        display: block;
      }
    }
  }

  /////////  MODAL  /////////

  %portfolio-item-modal {

    & .portfolio-item-subtitle {
      margin-bottom: 2rem;
      font-family: $font-family-work-sans-thin;
      font-size: 1.8rem;
    }

    & .portfolio-item-modal-details-wrapper {
      position: absolute;
      left: -94%;
      top: 0;
      bottom: 0;
      width: 27%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    & .portfolio-item-modal-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      min-height: 500px;
      @include media-breakpoint-up(xl) {
        min-height: 680px;
      }
      left: 50%;
      right: 0;
    }


    & .portfolio-item-modal-title {
      @include text-regular-title-small();
      margin-bottom: 0.3rem;
    }

    & .portfolio-item-modal-subtitle {
      @include text-thin-title-small();
      margin-bottom: 1.4rem;
    }

    & .portfolio-item-notebook {
      position: absolute;
      padding-top: 83.3%;
      top: 50%;
      left: -31%;
      bottom: auto;
      max-width: none;
      width: 128%;
      margin-top: -35%;
      z-index: 1;
      @include media-breakpoint-up(xl) {
        width: 140%;
        margin-top: -40%;
        left: -42%;
      }

      & .portfolio-item-device-img {
        position: absolute;
        top: 0;
        left: 0;
      }

      & .portfolio-item-img-full-wrapper {
        top: 5.4%;
        left: 12.5%;
        right: 12.5%;
        bottom: 22.7%;
        @include media-breakpoint-up(xl) {
          top: 6.4%;
          bottom: 15%;
        }
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-mobile {
      position: absolute;
      padding-top: 53%;
      top: 50%;
      left: -47%;
      bottom: auto;
      max-width: none;
      width: 23%;
      margin-top: -9%;
      z-index: 2;
      @include media-breakpoint-up(xl) {
        margin-top: -8%;
        left: -54%;
      }

      & .portfolio-item-device-img {
        position: absolute;
        top: 0;
        left: 0;
      }

      & .portfolio-item-img-full-wrapper {
        top: 9%;
        left: 2.5%;
        right: 2.5%;
        bottom: 18.5%;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-samsung-tv {
      position: absolute;
      padding-top: 86.3%;
      top: 50%;
      left: -33%;
      bottom: auto;
      max-width: none;
      width: 112%;
      margin-top: -37%;
      z-index: 1;
      @include media-breakpoint-up(xl) {
        width: 123%;
        margin-top: -40%;
        left: -39%;
      }

      & .portfolio-item-img-full-wrapper {
        top: 2.4%;
        left: 1.5%;
        right: 1.7%;
        bottom: 15%;
      }

      & .portfolio-item-device-img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 1239px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
        max-width: 1200px;
      }
    }

    & .portfolio-item-mobile .carousel-item-scroll-teaser {
      padding-top: 50%;
    }

    & .portfolio-item-notebook .carousel-item-scroll-teaser {
      padding-top: 27%;
    }
  }

  .portfolio-item-modal-notebook-mobile {
    @extend %portfolio-item-modal;

    & .carousel-control.left {
      background-image: none;
      left: 19%;
      @include media-breakpoint-up(xl) {
        left: 17%;
      }
    }
  }

  .portfolio-item-modal-tv {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 22%;
    }

    .carousel-indicators {
      bottom: -6%;
      @include media-breakpoint-up(xl) {
        bottom: -13%;
      }
    }

    & .portfolio-item-modal-details-wrapper {
      width: 35%;
    }
  }

  .portfolio-item-modal-notebook {
    @extend %portfolio-item-modal;

    .carousel-control.left {
      left: 22%;
    }

    & .portfolio-item-notebook {
      left: -41%;
      @include media-breakpoint-up(xl) {
        left: -47%;
      }
    }

    & .portfolio-item-modal-details-wrapper {
      width: 35%;
    }
  }

  .tse-content {
    position: relative;
    cursor: ns-resize;
  }

  .carousel-labels {
    @include text-light-title-small();
    position: absolute;
    left: -2.2%;
    top: -3.5%;
    width: 100%;
    text-align: center;
  }

  .carousel-label {
    display: none;
  }

  .carousel-label.active  {
    display: block;
  }
}