
///////////////////  Portfolio  ///////////////////

%portfolio-item-img-preview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#portfolio {
  @extend %article-wrapper;
  flex-direction: column;

  & .section-header-img-wrapper {
    width: 90%;
    max-width: 300px;
  }

  &.portfolio-item--open .section-header {
    display: none;
  }

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;
  }

  &  .portfolio-item-img {
    width: 100%;
    height: auto;
  }

  &  .portfolio-item-device-img {
    width: 100%;
    height: auto;
  }

  %portfolio-item {
    min-height: 800px;
    height: 100vh;
    display: flex;
    margin-bottom: 0;
  }

  .portfolio-item-title {
    @include text-regular-title-small();
    width: 76%;
    margin-bottom: 0.3rem;
  }

  .portfolio-item-secondary-title {
    @include text-thin-title-small();
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
  }

  .portfolio-item-text {
    @include text-base();
    line-height: 1.2;
    margin-bottom: 0.1rem;
    width: 74%;
    @include media-breakpoint-up(xxl) {
      margin-bottom: 1rem;
      line-height: 1.3;
    }
  }

  .portfolio-item-title-wrapper {
    display: block;
    position: absolute;
    width: 31%;
    max-width: 200px;
    padding-top: 42%;
    @include media-breakpoint-up(xxl) {
      max-width: 241px;
    }
  }

  .portfolio-item-title-wrapper-horizontal {
    display: block;
    position: absolute;
    width: 52%;
    max-width: 270px;
    padding-top: 39%;
    @include media-breakpoint-up(xxl) {
      max-width: 320px;
    }

    & .portfolio-item-title-content {
      background-image: url('/img/portfolio/frame-horizontal.png');
    }

    & .portfolio-item-title {
      margin-bottom: 0.3rem;
      margin-top: 0;
    }

    .portfolio-item-secondary-title {
      margin-top: 0;
    }

    .portfolio-item-text {
      margin-bottom: 0;
      line-height: 1.2;
      width: 80%;
    }
  }

  .portfolio-item-title-content {
    display: flex;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/portfolio/frame.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-item-title-centering {
    position: absolute;
    bottom: 70%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child-hovered .portfolio-item-title-wrapper,
  .child-hovered .portfolio-item-title-wrapper-horizontal {
    display: flex;
  }

  .portfolio-item-details-wrapper {
    display: none;
    position: absolute;
    max-width: 350px;
    width: 31%;
    top: 5%;
    left: -30%;
  }

  &.portfolio-item--open .portfolio-item-details-wrapper {
    display: block;
  }

  .portfolio-item-title-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .project-type-label {
    @include text-light-title-small();
    position: absolute;
    top: -2.4rem;
    left: 4.2%;

    @include media-breakpoint-up(xxl) {
      top: -2.4rem;
    }
  }

  .portfolio-item-img-full-wrapper {
    position: absolute;
  }

  .portfolio-item-img-full {
    width: 100%;
  }

  .portfolio-item-eye-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .portfolio-item-img-preview {
    cursor: pointer;

    &:hover,
    &:focus {
      cursor: pointer;

      & .portfolio-item-img {
        opacity: 0.4;
      }

      & .portfolio-item-eye-icon {
        display: block;
      }
    }
  }

  .portfolio-item-img-full-label {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .active .portfolio-item-img-full-label {
    display: block;
  }


  /////////  DEVICES  /////////

  .portfolio-item-desktop {
    position: absolute;
    width: calc(56% + (56% * 0.1));
    max-width: 796px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 4.2%;
      width: 93%;
      max-width: 729px;
    }
  }

  & .portfolio-item-tablet {
    position: absolute;
    width: calc(19% + (19% * 0.1));
    max-width: 263px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 4.5%;
      left: 7%;
      width: 87%;
      max-width: 227px;
    }
  }

  & .portfolio-item-notebook {
    position: absolute;
    width: calc(42% + (42% * 0.1));
    max-width: 600px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 5%;
      left: 12.8%;
      width: 75%;
      max-width: 445px;
    }
  }

  & .portfolio-item-mobile {
    position: absolute;
    width: calc(8% + (8% * 0.1));
    max-width: 111px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 8.5%;
      left: 4%;
      width: 93%;
      max-width: 101px;
    }
  }

  & .portfolio-item-tv1,
  & .portfolio-item-tv2 {
    position: absolute;
    bottom: 26%;
    left: 1%;
    width: 55.9%;
    max-width: 800px;

    & .portfolio-item-img-preview {
      position: absolute;
      top: 2.3%;
      left: 1.5%;
      width: 97%;
      max-width: 776px;
    }
  }

  & .portfolio-item-tv2 {
    bottom: 9%;
    left: 37%;
  }

  & .notebooks-set-item1 {
    bottom: 36%;
    left: 1%;
    @include media-breakpoint-up(xxl) {
      left: -2%;
    }

    & .project-type-label {
      left: auto;
      right: 11%;
    }
  }

  & .notebooks-set-item2 {
    bottom: 36%;
    left: 57%;
    @include media-breakpoint-up(xxl) {
      left: 56%;
    }

    & .project-type-label {
      left: 11%;
    }
  }

  & .notebooks-set-item3 {
    bottom: 24%;
    left: 12%;
    @include media-breakpoint-up(xxl) {
      left: 9%;
    }

    & .project-type-label {
      left: auto;
      right: 11%;
    }
  }

  & .notebooks-set-item4 {
    bottom: 24%;
    left: 46%;
    @include media-breakpoint-up(xxl) {
      left: 45%;
    }

    & .project-type-label {
      left: 11%;
    }
  }

  & .notebooks-set-item5 {
    bottom: 12%;
    left: 28.9%;
    @include media-breakpoint-up(xxl) {
      left: 26.9%;
    }

    & .project-type-label {
      left: 50%;
      bottom: -1rem;
      top: auto;
      transform: translateX(-50%);
    }
  }

  & .project-type-label {
    left: 1.6%;
  }


  /////////  BK  /////////

  & .portfolio-item-bk {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      bottom: 22%;
      left: 12%;
    }

    & .portfolio-item-tablet {
      bottom: 20%;
      left: 9.5%;
    }

    & .portfolio-item-notebook {
      bottom: 20%;
      left: 50%;
    }

    & .portfolio-item-mobile {
      bottom: 19%;
      left: 4%;
    }

    & .portfolio-item-title-wrapper {
      right: -35%;
      top: -12%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo  /////////

  & .portfolio-item-vendomo {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      bottom: 22%;
      left: 23%;
    }

    & .portfolio-item-tablet {
      bottom: 20%;
      left: 66%;
    }

    & .portfolio-item-notebook {
      bottom: 20%;
      left: 1%;
    }

    & .portfolio-item-mobile {
      bottom: 19%;
      left: 82%;
    }

    & .portfolio-item-title-wrapper {
      left: -37%;
      top: -13%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Vendomo CRM  /////////

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      bottom: 22%;
      left: 7%;
    }

    & .portfolio-item-tablet {
      bottom: 16%;
      left: 22%;
    }

    & .portfolio-item-notebook {
      bottom: 20%;
      left: 49%;
    }

    & .portfolio-item-mobile {
      bottom: 23%;
      left: 11.7%;
    }

    & .portfolio-item-title-wrapper {
      right: -35%;
      top: -12%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Foodora  /////////

  & .portfolio-item-foodora {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      bottom: 22%;
      left: 25%;
    }

    & .portfolio-item-tablet {
      bottom: 20%;
      left: 73%;
    }

    & .portfolio-item-notebook {
      bottom: 20%;
      left: 1%;
    }

    & .portfolio-item-mobile {
      bottom: 19%;
      left: 62.8%;
    }

    & .portfolio-item-title-wrapper {
      left: -37%;
      top: -12%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }


  /////////  Timvision and Cubomusica /////////

  & .portfolio-item-timvision,
  & .portfolio-item-cubomusica {
    @extend %portfolio-item;

    & .portfolio-item-title {
      margin: 0.2rem 0 0.2rem;
    }

    & .portfolio-item-title-wrapper-horizontal {
      right: -290px;
      top: -18%;
      @include media-breakpoint-up(xxl) {
        right: -350px;
        top: -23%;
      }
    }
  }


  /////////  UNICRI & Others /////////

  & .portfolio-item-unicri,
  & .portfolio-item-others {
    @extend %portfolio-item;

    & .portfolio-item-notebook {
      width: 41%;
      @include media-breakpoint-up(xxl) {
        width: 42%;
      }
    }

    & .project-type-label {
      bottom: -2rem;
      @include media-breakpoint-up(xxl) {
        bottom: -3rem;
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      right: -44%;
      top: -38%;
      @include media-breakpoint-up(xxl) {
        right: -45%;
      }
    }

    & .portfolio-item-subtitle-employer {
      margin-top: 0.5rem;
    }

    & .portfolio-item-title {
      margin-top: 0.5rem;
    }
  }

  /////////  MODAL  /////////

  %portfolio-item-modal {

    & .modal-dialog {
      width: 97%;
      height: 90%;
      max-width: none;
    }

    & .portfolio-item-subtitle {
      margin-bottom: 2rem;
      font-family: $font-family-work-sans-thin;
      font-size: 1.8rem;
    }

    & .portfolio-item-modal-details-wrapper {
      position: fixed;
      left: 60px;
      top: 40px;
      width: 17%;
    }

    & .portfolio-item-modal-title {
      @include text-regular-title-small();
      margin-bottom: 0.3rem;
    }

    & .portfolio-item-modal-subtitle {
      @include text-thin-title-small();
      margin-bottom: 1.4rem;
    }

    & .portfolio-item-notebook {
      position: fixed;
      left: 16.3%;
      top: 4%;
      width: 82%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 56px;
        left: 12.5%;
        right: 12.5%;
        bottom: 206px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-mobile {
      position: fixed;
      left: 8%;
      top: 45%;
      width: 13%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 50px;
        left: 2.5%;
        right: 2.5%;
        bottom: 103px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
      }
    }

    & .portfolio-item-samsung-tv {
      position: fixed;
      left: 25%;
      top: 7.5%;
      width: 67%;
      max-width: none;

      & .portfolio-item-img-full-wrapper {
        top: 2.4%;
        left: 1.5%;
        right: 1.7%;
        bottom: 18.3%;
      }

      & .portfolio-item-device-img {
        max-width: 1239px;
      }

      & .wrapper {
        width: 100%;
        height: 100%;
        max-width: 1200px;
      }
    }

    // TODO this style is duplicated with portfolio
    & .modal-close-button {
      width: 150px;
      height: 150px;
      color: #666;
      font-size: 7rem;
      font-family: $font-family-work-sans-thin;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      background: transparent;
      border: none;
      outline: none !important;

      &:hover,
      &:focus {
        color: #999;
      }
    }

    & .portfolio-item-mobile .carousel-item-scroll-teaser {
      padding-top: 66%;
    }

    & .portfolio-item-notebook .carousel-item-scroll-teaser {
      padding-top: 27%;
    }
  }

  .portfolio-item-modal-notebook-mobile {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 0;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -5%;
      left: 24.4%;
      right: 9.9%;
    }
  }

  .portfolio-item-modal-tv {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 16%;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -2%;
      left: 25%;
      right: 8.4%;
    }
  }

  .portfolio-item-modal-notebook {
    @extend %portfolio-item-modal;

    .carousel-control{
      top: 39%;
    }

    .carousel-control.left {
      left: 13%;
    }

    .carousel-control.right {
      right: 0;
    }

    .carousel-indicators {
      bottom: -2%;
      left: 24.4%;
      right: 9.9%;
    }
  }

  .tse-content {
    position: relative;
    cursor: ns-resize;
  }

  .carousel-labels {
    @include text-light-title-small();
    position: absolute;
    left: -1%;
    top: -3.5%;
    width: 100%;
    text-align: center;
  }

  .carousel-label {
    display: none;
  }

  .carousel-label.active  {
    display: block;
  }
}