
///////////////////  Experience  ///////////////////

#references {
  @extend %article-wrapper;
  margin: 150px 0 ;
  min-height: 380px;

  & .article-body {
    width: 100%;
    padding: 0 6%;
    flex-direction: column;
  }

  & .carousel {
    min-height: 380px;
  }

  & .carousel-item-content {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
  }

  & .references-content {
    position: relative;
  }

  & .reference-wrapper {
    width: 28%;
    font-size: 1.6rem;
  }

  & .references-title {
    margin-bottom: 6rem;
    font-family: $font-family-work-sans-regular;
    font-size: 3rem;
    letter-spacing: -0.18rem;
  }

  & .reference-content {
    position: relative;
    font-style: italic;
  }

  & .reference-author {
    margin-bottom: 0;
    position: relative;
    font-family: $font-family-work-sans-regular;
    font-size: 2.1rem;
    letter-spacing: -0.18rem;
  }

  & .reference-author-title {
    margin-bottom: 0;
    position: relative;
  }

  & .quote-open {
    vertical-align: baseline;
    position: relative;
    top: 2px;
  }

  & .quote-close {
    vertical-align: text-top;
    position: relative;
    top: 5px;
  }

  & .carousel-control {
    position: absolute;
    top: 10px;
  }

  & .carousel-control.left {
    left: -80px;
  }

  & .carousel-control.right {
    right: -80px;
  }

  & .carousel-indicators {
    position: absolute;
    bottom: -2%;
    left: 47%;
  }

  & .references-linkedin-link {
    @include make-button();
    clear: both;
    display: block;
    margin-top: 4rem;
  }
}
