

///////////////////  Skills  ///////////////////

#skills {
  @extend %article-wrapper;
  margin: 50px 0;
  padding-top: 45%;
  @include media-breakpoint-down(md) {
    padding-top: 135%;
  }
  //background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.7) 100%); ;

  & .section-header-img-wrapper {
    max-width: 210px;
    @include media-breakpoint-up(xl) {
      max-width: 250px;
    }
  }

  & .section-header {
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30%;
    }
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  & .article-body {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  & .article-img-wrapper {
    width: 66%;
    position: relative;

    & .article-img,
    & .article-img-overlay {
      width: 80%;
      max-width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      & path {
        animation-name: rotating;
        transform-origin: 50% 50%;
      }
    }
  }

  & .article-content-wrapper {
    width: 33%;
    padding-right: 8%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  & .cogwheel {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
  }

  &.cogwheel-rotating .cogwheel {
    animation: rotating 90s linear infinite;
  }

  & .skills-list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & ul {
      list-style: none;
      padding: 0;
      line-height: 1.3;
    }
  }

  & .skills-list-title {
    @include text-regular-title();
    margin-top: 0;
    margin-bottom: 0.8rem;
  }

  & .skills-list-title-small {
    @include text-regular-title-small();
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }

  %skills-group {
    position: absolute;
    top: 50%;
    left: 50%;
    @include media-breakpoint-only(lg) {
      top: 50%;
      left: 49.4%;
    }
    @include media-breakpoint-up(xl) {
      top: 50%;
      left: 47.8%;
    }
    text-align: center;

  }

  & .skills-group-javascript {
    @extend %skills-group;
    padding-top: 36%;
    width: 36%;
    @include media-breakpoint-only(lg) {
      padding-top: 31%;
      width: 31%;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 29%;
      width: 29%;
    }

    & .cogwheel {
      animation-duration: 30s;
    }

    & .skills-list {
      top: -50%;
      left: -50%;
    }
  }

  %skills-group-medium {
    padding-top: 26%;
    width: 26%;
    @include media-breakpoint-only(lg) {
      padding-top: 22%;
      width: 22%;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 20%;
      width: 20%;
    }

    & .cogwheel {
      animation-duration: 60s;
    }
  }

  & .skills-group-css {
    @extend %skills-group;
    @extend %skills-group-medium;

    & .skills-list {
      top: -50%;
      left: -174%;
    }
  }

  & .skills-group-html {
    @extend %skills-group;
    @extend %skills-group-medium;
    right: 0;

    & .skills-list {
      top: -50%;
      right: -74%;
    }
  }

  %skills-group-small {
    @extend %skills-group;
    padding-top: 22%;
    width: 22%;
    @include media-breakpoint-only(lg) {
      padding-top: 17%;
      width: 17%;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 15%;
      width: 15%;
    }

  }

  & .skills-group-tools {
    @extend %skills-group;
    @extend %skills-group-small;

    & .skills-list {
      top: 58%;
      left: -141%;
      @include media-breakpoint-only(lg) {
        top: 60%;
        left: -156%;
      }
      @include media-breakpoint-up(xl) {
        top: 60%;
        left: -160%;
      }
    }
  }

  & .skills-group-coding {
    @extend %skills-group;
    @extend %skills-group-small;

    & .skills-list {
      top: 58%;
      right: -43%;
      @include media-breakpoint-only(lg) {
        top: 60%;
        right: -56%;
      }
      @include media-breakpoint-up(xl) {
        top: 60%;
        right: -60%;
      }
    }
  }

  & .skills-group-uxui {
    @extend %skills-group;
    @extend %skills-group-small;

    & .skills-list {
      top: -156%;
      left: -141%;
      @include media-breakpoint-only(lg) {
        top: -160%;
        left: -156%;
      }
      @include media-breakpoint-up(xl) {
        top: -160%;
        left: -160%;
      }
    }
  }

  & .skills-group-backend {
    @extend %skills-group;
    @extend %skills-group-small;

    & .skills-list {
      top: -156%;
      right: -43%;
      @include media-breakpoint-only(lg) {
        top: -160%;
        right: -56%;
      }
      @include media-breakpoint-up(xl) {
        top: -160%;
        right: -60%;
      }
    }
  }

}