html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("/img/main-background-1920x1080.jpg");
  background-position: center; }

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 970px;
  height: 710px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
