
// mixin --------------------------------

@mixin make-crisp-image () {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

@mixin disable-crisp-image () {
  image-rendering: auto;         /* Firefox */
  -ms-interpolation-mode: default;  /* IE (non-standard property) */
}


@mixin make-button () {
  border: 0;
  padding: 5px 10px;
  background: transparent;
  color: $brand-primary;
  cursor: pointer;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:active {
    color: $brand-secondary;
    outline: 0;
  }
}

// mixin --------------------------------



// fonts --------------------------------

@font-face {
  font-family: 'worksans-thin';
  src:  url('/fonts/worksans-thin.woff2') format('woff2'),
        url('/fonts/worksans-thin.woff') format('woff'),
        url('/fonts/worksans-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-light';
  src:  url('/fonts/worksans-light.woff2') format('woff2'),
        url('/fonts/worksans-light.woff') format('woff'),
        url('/fonts/worksans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'she-always-walks-alone';
  src:  url('/fonts/she-always-walks-alone.woff2') format('woff2'),
        url('/fonts/she-always-walks-alone.woff') format('woff'),
        url('/fonts/she-always-walks-alone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// fonts end --------------------------------



// base styles --------------------------------

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body  {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

h1, .h1 {
  font-family: $font-family-she-always-walks-alone;
  font-size: 4.4rem;
  margin-bottom: 0;
  margin-top: 4rem;
}


h2, .h2 {
  font-family: $font-family-she-always-walks-alone;
  font-size: 5rem;
  line-height: 1.2;
}


h3, .h3 {
  font-family: $font-family-work-sans-light;
  font-size: 1.6rem;
  line-height: 1.2;
}

// base styles end --------------------------------



// main container --------------------------------

.main-container {

}


// main container end --------------------------------


%article-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-header {
  text-align: center;
  margin-top: 4rem;
}

.article-footer {
  text-align: center;
}

.article-body {
  display: flex;
  align-items: center;
}

.article-header-title {
  font-family: $font-family-she-always-walks-alone;
  font-size: 2.4rem;
  line-height: 1;
  display: block;
}

.article-header-sub-title {
  font-family: $font-family-work-sans-light;
  font-size: 1.6rem;
  line-height: 1.2;
  display: block;
}

.article-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


.article-title-img {
  width: 100%;
}


.article-title-img-wrapper {
  width: 100%;
  max-width: 300px;
}

.article-nav {
  margin-bottom: 1rem;
  margin-top: auto;
  text-align: center;
}


// intro --------------------------------

#intro {
  @extend %article-wrapper;

  & .article-header {
    margin-top: auto;
  }


  & .article-footer {
    margin-top: auto;
  }


  & .article-title-wrapper {
    width: 27%;
  }


  & .article-title-img-wrapper {
    max-width: 360px;
    margin-bottom: 2rem;
  }


  & .article-header-title {
    font-size: 4.6rem;
    line-height: 1.2;
  }


  & .article-header-sub-title {
    font-family: $font-family-work-sans-thin;
    font-size: 3rem;
    line-height: 1.2;
  }


  & .article-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }
}

//#intro-code {
//  z-index: 1;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 50%;
//  font-size: 24px;
//  color: rgba(255,255,255,0.5);
//  text-align: left;
//  line-height: 1;
//  padding: 40px;
//}

// intro end --------------------------------



// skills  --------------------------------

#skills {
  @extend %article-wrapper;
  background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.7) 100%); ;


  & .article-title-wrapper {
    width: 30%;
    padding-left: 15%;

    & .article-title-img-wrapper {
      max-width: 250px;
    }
  }


  & .article-img-wrapper {
    width: 40%;
    position: relative;

    & .article-img,
    & .article-img-overlay {
      width: 80%;
      max-width: 550px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      & path {
        animation-name: rotating;
        transform-origin: 50% 50%;
      }
    }
  }


  & .article-content-wrapper {
    width: 30%;
    padding-right: 17%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

// skills end --------------------------------



// portfolio --------------------------------

#portfolio {
  @extend %article-wrapper;
  background-color: white;
  position: relative;

  &.fixed-position {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .article-title-wrapper {
    width: 25%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    & .article-title-img-wrapper {
      width: 70%;
      max-width: 300px;
    }
  }

  & .article-body {
    height: 100%;
  }

  & .article-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  

  & .article-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .article-content-wrapper {
    width: 100%;
    max-height: 100%;
    overflow-y: hidden;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }

  &.fixed-position .article-content-wrapper {
      overflow-y: scroll;
  }

  & .portfolio-item-vendomo {
    @extend %portfolio-item;
    background-color: #e6e9f3;
  }

  & .portfolio-item-foodora {
    @extend %portfolio-item;
    background-color: #EFDBE4;
  }

  & .portfolio-item-bk {
    @extend %portfolio-item;
    background-color: #D8CBC7;
  }

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;
    background-color: black;
  }

  &  .portfolio-item-img {
    margin: auto;
  }
}

%portfolio-item {
  height: 100vh;
  display: flex;
  margin-bottom: 0;
  padding-left: 25%;
}

// portfolio end --------------------------------

#experience {
  @extend %article-wrapper;
  background-color: #F3F3F3;


  & .article-title-wrapper {
    width: 25%;

    & .article-title-img-wrapper {
      width: 70%;
      max-width: 300px;
    }
  }


  & .article-body {
    height: 85%;
  }


  & .article-content-wrapper {
    width: 75%;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

#about {
  @extend %article-wrapper;
  background-color: white;


  & .article-title-wrapper {
    width: 25%;

    & .article-title-img-wrapper {
      width: 70%;
      max-width: 300px;
    }
  }


  & .article-body {
    height: 85%;
  }


  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

#outro {
  @extend %article-wrapper;

  & .article-header {
    margin-top: auto;
  }


  & .article-footer {
    margin-top: auto;
  }


  & .article-title-wrapper {
    width: 27%;
  }


  & .article-title-img-wrapper {
    max-width: 360px;
    margin-bottom: 2rem;
  }


  & .article-header-title {
    font-size: 4.6rem;
    line-height: 1.2;
  }


  & .article-header-sub-title {
    font-family: $font-family-work-sans-thin;
    font-size: 3rem;
    line-height: 1.2;
  }


  & .article-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }
}


#contact {
  @extend %article-wrapper;
  background-color: #FFF;


  & .article-title-wrapper {
    width: 25%;

    & .article-title-img-wrapper {
      width: 70%;
      max-width: 350px;
    }
  }


  & .article-body {
    height: 85%;
  }


  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}


// footer --------------------------------

.footer {

}

.footer__title {
  color: $brand-secondary;
}

.footer__date {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
}

.footer__nav {
  padding-top: 2vw;
}

.footer__nav__button {
  @include make-button();
}


.article-header__nav__button {
  @include make-button();
}

.article-header__nav {
  //margin-bottom: auto;
}

// footer end --------------------------------



// side bar --------------------------------

.side-bar {
  @include media-breakpoint-down(sm) {
    @include make-offcanvas-menu();
    width: $off-canvas-menu-width;
    min-height: 100%;
    position: fixed;
    top: 0;
    background-image: url('/img/side-background-mobile.jpg');
    background-repeat: repeat-y;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 14.6rem;
    top: 8.3rem;
    right: 0;
    bottom: 30rem;
  }
  @include media-breakpoint-only(md) {
    width: 15rem;
    top: 8.1rem;
  }
}

.side-bar__nav {
  position: relative;
  height: 100%;
  @include media-breakpoint-down(sm) {
    background-repeat: no-repeat;
    background-image: url('/img/main-background-mobile.jpg');
    height: 483px;
  }
  @include media-breakpoint-up(md) {
    width: 130px;
  }
}

%side-bar__nav-button {
  position: absolute;
  @include make-button();
}

.side-bar__nav__button--portfolio {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 2.2rem;
    left: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    top: 60px;
    left: 0;
  }
}

.side-bar__nav__button--skills {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 7.6rem;
    left: 1.4rem;
  }
  @include media-breakpoint-down(sm) {
    top: 119px;
    left: 3px;
  }
}

.side-bar__nav__button--experience {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 12.6rem;
    left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    top: 173px;
    left: 2px;
  }
}

.side-bar__nav__button--contact {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 17.7rem;
    left: 1.6rem;
  }
  @include media-breakpoint-down(sm) {
    top: 228px;
    left: 3px;
  }
}

.side-bar__nav__button--resume {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 26.3rem;
    left: 1.8rem;
  }
  @include media-breakpoint-down(sm) {
    top: 312px;
    left: 7px;
  }
}

.side-bar__nav__button--code {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 31.5rem;
    left: 1.9rem;
  }
  @include media-breakpoint-down(sm) {
    top: 367px;
    left: 9px;
  }
}

// side bar end --------------------------------


@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}