
///////////////////  Mixins  ///////////////////

@mixin make-crisp-image () {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

@mixin disable-crisp-image () {
  image-rendering: auto;         /* Firefox */
  -ms-interpolation-mode: default;  /* IE (non-standard property) */
}


@mixin make-button () {
  border: 0;
  padding: 3px 7px;
  background: transparent;
  color: $brand-primary;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:active {
    color: $brand-secondary;
    outline: 0;
  }
}



///////////////////  Animations  ///////////////////

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



///////////////////  Fonts  ///////////////////

@font-face {
  font-family: 'worksans-thin';
  src:  url('/fonts/worksans-thin.woff2') format('woff2'),
        url('/fonts/worksans-thin.woff') format('woff'),
        url('/fonts/worksans-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-light';
  src:  url('/fonts/worksans-light.woff2') format('woff2'),
        url('/fonts/worksans-light.woff') format('woff'),
        url('/fonts/worksans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'she-always-walks-alone';
  src:  url('/fonts/she-always-walks-alone.woff2') format('woff2'),
        url('/fonts/she-always-walks-alone.woff') format('woff'),
        url('/fonts/she-always-walks-alone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



///////////////////  Base  ///////////////////

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body  {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

h1, .h1 {
  font-family: $font-family-she-always-walks-alone;
  font-size: 4.4rem;
  margin-bottom: 0;
  margin-top: 4rem;
}


h2, .h2 {
  font-family: $font-family-she-always-walks-alone;
  font-size: 5rem;
  line-height: 1.2;
}


h3, .h3 {
  font-family: $font-family-work-sans-light;
  font-size: 1.6rem;
  line-height: 1.2;
}

.main-container {
}



///////////////////  Sections  ///////////////////

.separator {
  color: #CCC;
}

%article-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-header {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header-title {
  margin-top: 3rem;
}

.section-header-secondary-title {
  font-family: $font-family-work-sans-thin;
  font-size: 2.1rem;
  line-height: 1.2;
  display: block;
}

.article-footer {
  text-align: center;
}

.article-body {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.article-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


.section-header-img {
  width: 100%;
}


.section-header-img-wrapper {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}

.article-nav {
  margin-bottom: 1rem;
  margin-top: auto;
  text-align: center;
}



///////////////////  Intro  ///////////////////

#intro {
  @extend %article-wrapper;

  & .section-header {
  }

  & .section-header-img-wrapper {
    max-width: 400px;
    margin-bottom: 3rem;
  }

  & .section-header-sub-title {
    font-family: $font-family-work-sans-thin;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 1.8rem;
    margin-top: 0;
  }

  & .article-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }
}

//#intro-code {
//  z-index: 1;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 50%;
//  font-size: 24px;
//  color: rgba(255,255,255,0.5);
//  text-align: left;
//  line-height: 1;
//  padding: 40px;
//}



///////////////////  Skills  ///////////////////

#skills {
  @extend %article-wrapper;
  //background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.7) 100%); ;

  & .section-header {
    left: 3%;
  }

  & .section-header-img-wrapper {
    max-width: 250px;
  }

  & .article-img-wrapper {
    width: 66%;
    position: relative;

    & .article-img,
    & .article-img-overlay {
      width: 80%;
      max-width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      & path {
        animation-name: rotating;
        transform-origin: 50% 50%;
      }
    }
  }

  & .article-content-wrapper {
    width: 33%;
    padding-right: 8%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}



///////////////////  Portfolio  ///////////////////

%portfolio-item-img-preview {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#portfolio {
  @extend %article-wrapper;
  flex-direction: column;

  & .section-header-img-wrapper {
    width: 90%;
    max-width: 300px;
  }

  & .section-header {
    position: absolute;
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
  }

  &.scrolling-this .section-header {
    position: fixed;
  }

  &.scrolled-this .section-header {
    position: absolute;
    top: auto;
    bottom: 50vh;
    transform: translateY(50%);
  }

  & .article-body {
    width: 75%;
    margin-left: 25%;
  }

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;
  }

  &  .portfolio-item-img {
    width: 100%;
  }

  %portfolio-item {
    height: 100vh;
    display: flex;
    margin-bottom: 0;
  }

  .portfolio-item-title-wrapper {
    text-align: center;
    position: absolute;
    max-width: 241px;
    background-image: url('/img/portfolio/frame.png');
    width: 31%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 320px;
    padding: 3.7rem 3rem;
  }

  .portfolio-item-title-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .portfolio-item-title {
    font-family: $font-family-work-sans-thin;
    font-size: 2.4rem;
    margin: 0 0 0.3rem 0;
  }

  .portfolio-item-subtitle {
    font-size: 1.8rem;
  }

  .portfolio-item-subtitle-employer {
    font-size: 1.4rem;
    margin: 3rem 0 0;
  }

  .portfolio-item-subtitle,
  .portfolio-item-content-employer,
  .portfolio-item-content-contribution {
    margin: 0;
    font-size: 1.6rem;
    font-family: $font-family-work-sans-thin;
    line-height: 1.3;
  }

  .portfolio-item-subtitle-contribution {
    margin: 1rem 0 0;
    font-size: 1.4rem;
  }

  .portfolio-item-title-wrapper-horizontal {
    text-align: center;
    position: absolute;
    max-width: 320px;
    width: 61%;
    background-image: url('/img/portfolio/frame-horizontal.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 241px;
    padding: 3.5rem 4rem;

    & .portfolio-item-title {
      margin: 0;
    }

    & .portfolio-item-subtitle-contribution {
      margin: 0.5rem 0 0;
    }

    & .portfolio-item-subtitle-employer {
      margin: 0.5rem 0 0;
    }

  }

  .project-type-label {
    font-family: $font-family-work-sans-thin;
    font-size: 1.6rem;
    position: absolute;
    top: -2.4rem;
    left: 4.2%;
  }

  /////////  BK  /////////

  & .portfolio-item-bk {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      position: absolute;
      top: 13%;
      left: 15%;
      width: 60%;
      max-width: 796px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 36.4%;
      }
    }

    & .portfolio-item-tablet {
      position: absolute;
      top: 44%;
      left: 11.5%;
      width: 50%;
      max-width: 263px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 44.5%;
      }
    }

    & .portfolio-item-notebook {
      position: absolute;
      top: 44.6%;
      left: 52%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }
    }

    & .portfolio-item-mobile {
      position: absolute;
      top: 60%;
      left: 6%;
      width: 10%;
      max-width: 111px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 45.5%;
      }
    }

    & .portfolio-item-title-wrapper {
      left: 72.8%;
      top: 7.5%;
    }

  }

  /////////  Vendomo  /////////

  & .portfolio-item-vendomo {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      position: absolute;
      top: 13%;
      left: 23%;
      width: 60%;
      max-width: 796px;

      & .portfolio-item-img-preview {
          @extend %portfolio-item-img-preview;
          top: 36.4%;
      }
    }

    & .portfolio-item-tablet {
      position: absolute;
      top: 44%;
      left: 66%;
      width: 50%;
      max-width: 263px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 44.5%;
      }
    }

    & .portfolio-item-notebook {
      position: absolute;
      top: 44.6%;
      left: 0;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }
    }

    & .portfolio-item-mobile {
      position: absolute;
      top: 60%;
      left: 82%;
      width: 10%;
      max-width: 111px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 45.5%;
      }
    }

    & .portfolio-item-title-wrapper {
      left: 3%;
      top: 7%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 3rem 0 0;
    }
  }

  /////////  Vendomo CRM  /////////

  & .portfolio-item-vendomo-crm {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      position: absolute;
      top: 13%;
      left: 8%;
      width: 60%;
      max-width: 796px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 36.4%;
      }
    }

    & .portfolio-item-tablet {
      position: absolute;
      top: 50%;
      left: 22%;
      width: 50%;
      max-width: 263px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 44.5%;
      }
    }

    & .portfolio-item-notebook {
      position: absolute;
      top: 44.6%;
      left: 49%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }
    }

    & .portfolio-item-mobile {
      position: absolute;
      top: 55.2%;
      left: 13%;
      width: 10%;
      max-width: 111px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 45.5%;
      }
    }

    & .portfolio-item-title-wrapper {
      left: 66%;
      top: 7%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 2rem 0 0;
    }
  }

  /////////  Foodora  /////////

  & .portfolio-item-foodora {
    @extend %portfolio-item;

    & .portfolio-item-desktop {
      position: absolute;
      top: 13%;
      left: 25%;
      width: 60%;
      max-width: 796px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 36.4%;
      }
    }

    & .portfolio-item-tablet {
      position: absolute;
      top: 44%;
      left: 72%;
      width: 50%;
      max-width: 263px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 44.5%;
      }
    }

    & .portfolio-item-notebook {
      position: absolute;
      top: 48.6%;
      left: 3%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }
    }

    & .portfolio-item-mobile {
      position: absolute;
      top: 55.2%;
      left: 62.8%;
      width: 10%;
      max-width: 111px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 45.5%;
      }
    }

    & .portfolio-item-title-wrapper {
      left: 5%;
      top: 11%;
    }

    & .portfolio-item-subtitle-employer {
      margin: 3rem 0 0;
    }
  }

  /////////  TIMVision  /////////

  & .portfolio-item-timvision {
    @extend %portfolio-item;

    & .portfolio-item-tv1 {
      position: absolute;
      top: 18%;
      left: 1%;
      width: 55.9%;
      max-width: 800px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.4%;
      }
    }


    & .portfolio-item-tv2 {
      position: absolute;
      top: 34%;
      left: 37%;
      width: 55.9%;
      max-width: 800px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.4%;;
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 60%;
      top: 5.5%;
    }

    & .project-type-label {
      left: 1.6%;
    }
  }

  /////////  CuboMusica  /////////

  & .portfolio-item-cubomusica {
    @extend %portfolio-item;

    & .portfolio-item-tv1 {
      position: absolute;
      top: 18%;
      left: 1%;
      width: 55.9%;
      max-width: 800px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.4%;
      }
    }


    & .portfolio-item-tv2 {
      position: absolute;
      top: 34%;
      left: 37%;
      width: 55.9%;
      max-width: 800px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.4%;;
      }
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 60%;
      top: 5.5%;
    }

    & .project-type-label {
      left: 1.6%;
    }

  }

  /////////  UNICRI  /////////

  & .portfolio-item-unicri {
    @extend %portfolio-item;

    & .project-type-label {
      top: -2.2rem;
    }

    & .portfolio-item-notebook-ande {
      position: absolute;
      top: 25%;
      left: -2%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-eusec {
      position: absolute;
      top: 25%;
      left: 56%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-cbrn {
      position: absolute;
      top: 38%;
      left: 9%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-ipo {
      position: absolute;
      top: 38%;
      left: 45%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-lab {
      position: absolute;
      top: 51%;
      left: 27%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 50%;
        bottom: -1rem;
        top: auto;
        transform: translateX(-50%);
      }
    }

    & .portfolio-item-title-wrapper {
      left: 65%;
      top: 8%;
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 36.7%;
      top: 7%;
    }

    & .portfolio-item-subtitle-employer {
      margin-top: 0.5rem;
    }

    & .portfolio-item-title {
      margin-top: 0.5rem;
    }
  }

  /////////  Others  /////////

  & .portfolio-item-others {
    @extend %portfolio-item;

    & .portfolio-item-notebook-school {
      position: absolute;
      top: 25%;
      left: -2%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-davide {
      position: absolute;
      top: 25%;
      left: 56%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-milena {
      position: absolute;
      top: 38%;
      left: 9%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: auto;
        right: 12.8%;
      }
    }

    & .portfolio-item-notebook-pandora {
      position: absolute;
      top: 38%;
      left: 45%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 12.8%;
      }
    }

    & .portfolio-item-notebook-acqua {
      position: absolute;
      top: 51%;
      left: 27%;
      width: 50%;
      max-width: 600px;

      & .portfolio-item-img-preview {
        @extend %portfolio-item-img-preview;
        top: 42.2%;
      }

      & .project-type-label {
        left: 50%;
        bottom: -1rem;
        top: auto;
        transform: translateX(-50%);
      }
    }

    & .portfolio-item-title-wrapper {
      left: 65%;
      top: 8%;
    }

    & .portfolio-item-title-wrapper-horizontal {
      left: 36.7%;
      top: 7%;
    }

    & .portfolio-item-subtitle-employer {
      margin-top: 1rem;
    }

    & .portfolio-item-title {
      margin-top: 0.5rem;
    }
  }
}



///////////////////  Experience  ///////////////////

#experience {
  @extend %article-wrapper;

  & .article-title-wrapper {
    width: 25%;

    & .section-header-img-wrapper {
      width: 70%;
      max-width: 300px;
    }
  }

  & .section-header-img {
    position: relative;
    left: -14%;
  }

  & .article-body {
    height: 85%;
  }

  & .article-content-wrapper {
    width: 75%;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}



///////////////////  Contact  ///////////////////

#contact {
  @extend %article-wrapper;

  & .section-header {
    width: 25%;
    position: relative;

    & .section-header-img-wrapper {
      width: 74%;
      max-width: 350px;
    }
  }

  & .article-body {
    height: 85%;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}


///////////////////  Contact  ///////////////////

#about {
  @extend %article-wrapper;

  & .section-header {
    width: 25%;
    position: relative;

    & .section-header-img-wrapper {
      width: 70%;
      max-width: 190px;
    }
  }

  & .article-body {
    height: 85%;
  }

  & .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    & p {
      margin-bottom: 0;
      text-align: center;

      & span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}



///////////////////  Outro  ///////////////////

#outro {
  @extend %article-wrapper;

  & .section-header {
  }

  & .section-header-img-wrapper {
    max-width: 350px;
    margin-bottom: 3rem;
  }

  & .section-header-img {
    position: relative;
    left: 5%;
  }

  & .section-header-secondary-title {
    font-size: 3rem;
  }

  & .section-header-nav {
    margin-top: 3rem;
  }

  & .section-header-sub-title {
    font-family: $font-family-work-sans-thin;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 1.8rem;
  }

  & .article-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    //background: url('/img/intro.jpg') no-repeat;
    background-size: cover;
  }
}




///////////////////  Footer  ///////////////////

.footer {

}

.footer__title {
  color: $brand-secondary;
}

.footer__date {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
}

.footer__nav {
  padding-top: 2vw;
}

.footer__nav__button {
  @include make-button();
}

.article-header__nav__button {
  @include make-button();
}

.article-header__nav {
  //margin-bottom: auto;
}




///////////////////  Sidebar  ///////////////////

.side-bar {
  @include media-breakpoint-down(sm) {
    @include make-offcanvas-menu();
    width: $off-canvas-menu-width;
    min-height: 100%;
    position: fixed;
    top: 0;
    background-image: url('/img/side-background-mobile.jpg');
    background-repeat: repeat-y;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 14.6rem;
    top: 8.3rem;
    right: 0;
    bottom: 30rem;
  }
  @include media-breakpoint-only(md) {
    width: 15rem;
    top: 8.1rem;
  }
}

.side-bar__nav {
  position: relative;
  height: 100%;
  @include media-breakpoint-down(sm) {
    background-repeat: no-repeat;
    background-image: url('/img/main-background-mobile.jpg');
    height: 483px;
  }
  @include media-breakpoint-up(md) {
    width: 130px;
  }
}

%side-bar__nav-button {
  position: absolute;
  @include make-button();
}

.side-bar__nav__button--portfolio {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 2.2rem;
    left: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    top: 60px;
    left: 0;
  }
}

.side-bar__nav__button--skills {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 7.6rem;
    left: 1.4rem;
  }
  @include media-breakpoint-down(sm) {
    top: 119px;
    left: 3px;
  }
}

.side-bar__nav__button--experience {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 12.6rem;
    left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    top: 173px;
    left: 2px;
  }
}

.side-bar__nav__button--contact {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 17.7rem;
    left: 1.6rem;
  }
  @include media-breakpoint-down(sm) {
    top: 228px;
    left: 3px;
  }
}

.side-bar__nav__button--resume {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 26.3rem;
    left: 1.8rem;
  }
  @include media-breakpoint-down(sm) {
    top: 312px;
    left: 7px;
  }
}

.side-bar__nav__button--code {
  @extend %side-bar__nav-button;
  @include media-breakpoint-up(md) {
    top: 31.5rem;
    left: 1.9rem;
  }
  @include media-breakpoint-down(sm) {
    top: 367px;
    left: 9px;
  }
}