
// base styles
* {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}


html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}


body  {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  @include font-family-text();
  background: black url("/img/main-background.jpg") no-repeat center;
  display: flex;


}

.main-container {
  margin: auto;
  border: 1px solid grey;
  min-width: 600px;
  position: relative;
}

.page-content {
  position: absolute;
  left: 7%;
  right: 11%;
  top: 9%;
  bottom: 8%;
}
