@font-face {
  font-family: 'portmanteau';
  src:  url('/fonts/portmanteau_regular-webfont.woff2') format('woff2'),
  url('/fonts/portmanteau_regular-webfont.woff') format('woff'),
  url('/fonts/portmanteau_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oldnewspapertypes';
  src:  url('/fonts/oldnewspapertypes-webfont.woff2') format('woff2'),
  url('/fonts/oldnewspapertypes-webfont.woff') format('woff'),
  url('/fonts/oldnewspapertypes-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'amatic_sc';
  src:  url('/fonts/amaticsc-regular-webfont.woff2') format('woff2'),
  url('/fonts/amaticsc-regular-webfont.woff') format('woff'),
  url('/fonts/amaticsc-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@mixin font-family-title () {
  font-family: 'portmanteau', Sans-Serif;
}

@mixin font-family-text () {
  font-family: 'oldnewspapertypes', Serif;
}

@mixin heading () {
  @include font-family-title();
}

h1, .h1 {
  @include heading();
  font-size: 2.8rem;
}

h2, .h2 {
  @include heading();
  font-size: 2.4rem;
}

h3, .h3 {
  @include heading();
  font-size: 2.1rem;
}

h4, .h4 {
  @include heading();
  font-size: 1.8rem;
}

h5, .h5 {
  @include heading();
  font-size: 1.4rem;
}
