
@mixin font-family-title () {
  font-family: 'portmanteau', Sans-Serif;
}

@mixin font-family-text () {
  font-family: 'oldnewspapertypes', Serif;
}

@mixin heading () {
  @include font-family-title();
  line-height: 0.85;
}

h1, .h1 {
  @include heading();
  font-size: 2.8rem;
}

h2, .h2 {
  @include heading();
  font-size: 2.4rem;
}

h3, .h3 {
  @include heading();
  font-size: 2.1rem;
}

h4, .h4 {
  @include heading();
  font-size: 1.8rem;
}

h5, .h5 {
  @include heading();
  font-size: 1.4rem;
}
