
// base styles
* {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}


$nav-top-height: 50px;

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}


body  {
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  @include media-breakpoint-down(md) {
    background: $gray-lightest url('/img/center-background-mobile-tablet.jpg');
  }
  @include media-breakpoint-up(lg) {
    background: $gray-dark url("/img/main-background-desktop.jpg") no-repeat center;
    display: flex;
  }
}

.main-container {
  @include media-breakpoint-down(md) {
    min-height: 100%;
    padding-top: $nav-top-height;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 !important;
    margin: auto;
    min-width: 600px;
    position: relative;
    width: 1200px;
    height: 820px;
  }
}

.page-content {
  @include media-breakpoint-down(md) {
    min-height: 100%;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 8%;
    right: 14%;
    top: 10%;
    bottom: 9%;
  }
}

.nav-top {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 100%;
  height: $nav-top-height;
  z-index: 1;
  text-align: center;
  @include media-breakpoint-only(xs) {
    text-align: left;
  }
}
.scrolling.nav-top {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.33);
  background-image: url('/img/top-navbar-background.jpg');
}

.nav-top__title {
  font-size: 1.2rem;
}

.mobile-nav-side {
  min-height: 100%;
  background-repeat: repeat-y;
  position: relative;
  @include media-breakpoint-down(md) {
    //TODO refactor replacing magic numbers with variables
    width: 125px;
    background-image: url('/img/side-background-mobile.jpg');
    //background-position: 0px 483px;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
  }
}

.mobile-nav__links-wrapper {
  position: relative;
  @include media-breakpoint-down(md) {
    background-repeat: no-repeat;
    background-image: url('/img/main-background-mobile.jpg');
    height: 483px;
  }
  @include media-breakpoint-up(lg) {
    width: 130px;
  }
}


.nav-top__title {
  display: none;
}
.scrolling .nav-top__title {
  display: block;
}

.nav-top__menu-button {
  position: absolute;
  right: 0;
  top: 0;
}


.nav-top__menu-button .icon-menu {
  display: block;
}
.active .nav-top__menu-button .icon-menu {
  display: none;
}

.nav-top__menu-button .icon-x {
  display: none;
}

.active .nav-top__menu-button .icon-x {
  display: block;
}

.btn {
  font-family: $font-family-amatic;
  font-size: 2.2rem;
  outline: none !important;
}

.btn-portfolio {
  position: absolute;
  top: 2.4rem;
  left: 1.6rem;
  @include media-breakpoint-down(md) {
    top: 63px;
    left: 0;
  }
}

.btn-skills {
  position: absolute;
  top: 7.8rem;
  left: 1.8rem;
  @include media-breakpoint-down(md) {
    top: 122px;
    left: 3px;
  }
}

.btn-experience {
  position: absolute;
  top: 12.9rem;
  left: 1.9rem;
  @include media-breakpoint-down(md) {
    top: 176px;
    left: 5px;
  }
}

.btn-about {
  position: absolute;
  top: 18rem;
  left: 2rem;
  @include media-breakpoint-down(md) {
    top: 231px;
    left: 6px;
  }
}

.btn-contact {
  position: absolute;
  top: 26.5rem;
  left: 2.1rem;
  @include media-breakpoint-down(md) {
    top: 314px;
    left: 8px;
  }
}

.home_head-img-wrapper {
  padding: 0 40px;
  @include make-col-offset(3)
}

.home_head-img {
  max-width: 400px;
  width: 100%;
  margin-top: 60px;
  display: inline-block;
}

.icon-pin {
  position: relative;
  top: 4px;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
//TODO refactor this with proper media mixing
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right.active {
    @include media-breakpoint-down(md) {
      right: 125px;
    }
  }

  .row-offcanvas-left.active {
    @include media-breakpoint-down(md) {
      left: 125px;
    }
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
  }
}
