
// base styles
* {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}


$nav-top-height: 50px;

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}


body  {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  @include media-breakpoint-down(sm) {
    background: $gray-lightest url('/img/center-background-mobile-tablet.jpg');
  }
  @include media-breakpoint-up(md) {
    background: $gray-dark url("/img/main-background-desktop.jpg") no-repeat center;
    display: flex;
  }
}

.main-container {
  @include media-breakpoint-down(sm) {
    min-height: 100%;
    padding-top: $nav-top-height;
  }
  @include media-breakpoint-up(md) {
    position: relative;
    padding: 0 !important;
    margin: auto;
    min-width: 600px;
    width: 1200px;
    height: 820px;
  }
}

.main-container__content {
  @include media-breakpoint-down(sm) {
    min-height: 100%;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    left: 8%;
    right: 14%;
    top: 10%;
    bottom: 9%;
  }
}

.nav-top {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 100%;
  height: $nav-top-height;
  z-index: 1;
  text-align: center;
  @include media-breakpoint-only(xs) {
    text-align: left;
  }
}
.scrolling.nav-top {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.33);
  background-image: url('/img/top-navbar-background.jpg');
}

.nav-top__title {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.mobile-nav-side {
  min-height: 100%;
  background-repeat: repeat-y;
  position: relative;
  @include media-breakpoint-down(sm) {
    //TODO refactor replacing magic numbers with variables
    width: 125px;
    background-image: url('/img/side-background-mobile.jpg');
  }
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}

.mobile-nav__links-wrapper {
  position: relative;
  @include media-breakpoint-down(sm) {
    background-repeat: no-repeat;
    background-image: url('/img/main-background-mobile.jpg');
    height: 483px;
  }
  @include media-breakpoint-up(md) {
    width: 130px;
  }
}


.nav-top__title {
  display: none;
}
.scrolling .nav-top__title {
  display: block;
}

.nav-top__menu-button {
  position: absolute;
  right: 0;
  top: 0;
}


.nav-top__menu-button .icon-menu {
  display: block;
}
.active .nav-top__menu-button .icon-menu {
  display: none;
}

.nav-top__menu-button .icon-x {
  display: none;
}

.active .nav-top__menu-button .icon-x {
  display: block;
}

.btn {
  font-family: $font-family-amatic;
  font-size: 2.4rem;
  outline: none !important;
}

.btn-portfolio {
  position: absolute;
  top: 2.2rem;
  left: 1.6rem;
  @include media-breakpoint-only(md) {
    top: 2.3rem;
    left: 1.1rem;
  }
  @include media-breakpoint-down(sm) {
    top: 60px;
    left: 0;
  }
}

.btn-skills {
  position: absolute;
  top: 7.6rem;
  left: 1.8rem;
  @include media-breakpoint-only(md) {
    top: 7.7rem;
    left: 1.3rem;
  }
  @include media-breakpoint-down(sm) {
    top: 119px;
    left: 3px;
  }
}

.btn-experience {
  position: absolute;
  top: 12.6rem;
  left: 1.9rem;
  @include media-breakpoint-only(md) {
    top: 12.7rem;
    left: 1.4rem;
  }
  @include media-breakpoint-down(sm) {
    top: 173px;
    left: 2px;
  }
}

.btn-contact {
  position: absolute;
  top: 17.7rem;
  left: 2rem;
  @include media-breakpoint-only(md) {
    top: 17.8rem;
    left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    top: 228px;
    left: 3px;
  }
}

.btn-resume {
  position: absolute;
  top: 26.3rem;
  left: 2.2rem;
  @include media-breakpoint-only(md) {
    top: 26.5rem;
    left: 1.9rem;
  }
  @include media-breakpoint-down(sm) {
    top: 312px;
    left: 7px;
  }
}

.btn-code {
  position: absolute;
  top: 31.5rem;
  left: 2.3rem;
  @include media-breakpoint-only(md) {
    top: 31.4rem;
    left: 1.7rem;
  }
  @include media-breakpoint-down(sm) {
    top: 367px;
    left: 9px;
  }
}

.icon-pin {
  position: relative;
  top: 4px;
}

.home-head {
  display: block;
  max-width: 400px;
  width: 90%;
  margin: auto;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 42%;
    transform: translate(-50%, -50%);
  }
}

.hire-me {
  @include media-breakpoint-up(md) {
    background-image: url('/img/badge.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    max-width: 190px;
    height: auto;
    padding-top: 19%;
  }
}

.hire-me-button-wrapper {
  @include media-breakpoint-down(sm) {
    //font-size: 3rem;
  }
  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    top: 2.3rem;
    left: 10%;
    right: 23%;
  }
}

.hire-me-text {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 6.3rem;
    left: 7%;
    right: 25%;
  }
}

.btn-code-icon {
  @include media-breakpoint-only(md) {
    width: 15px;
    height: 15px;
  }
}

.btn-resume-icon {
  @include media-breakpoint-only(md) {
    width: 12px;
    height: 14px;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
//TODO refactor this with proper media mixing
@media screen and (max-width: map_get($grid-breakpoints, md)) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right.active {
    @include media-breakpoint-down(md) {
      right: 125px;
    }
  }

  .row-offcanvas-left.active {
    @include media-breakpoint-down(md) {
      left: 125px;
    }
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
  }
}
