
.color-primary {
  color: $brand-primary;
}

.color-secondary {
  color: $brand-secondary;
}

.color-grey {
  color: $gray;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-2 {
  line-height: 1.2;
}

.line-height-1-4 {
  line-height: 1.4;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-xs {
  font-size: $font-size-xs;
}

.font-size-base {
  font-size: $font-size-base;
}