
///////////////////  Overwrites  ///////////////////

#contact {
  @extend %article-wrapper;
  align-items: center;
  min-height: 500px;
  @include media-breakpoint-only(lg) {
    min-height: 600px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 700px;
  }

  .section-header {
    height: 100%;
  }

  .section-header-img-wrapper {
    width: 77%;
    max-width: 350px;
  }

  .article-body {
    justify-content: center;
    flex-direction: column;
    padding-right: 8%;
    padding-left: 8%;
    text-align: center;
    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 25%;
    }
  }

  .article-content-wrapper {
    width: 75%;
    overflow-y: scroll;
    max-height: 100%;

    p {
      margin-bottom: 0;
      text-align: center;

      span {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

///////////////////  Common  ///////////////////


.contact-title {
  @include text-regular-title();
  margin: 2rem 0;
}


.contact-content {
  @include text-thin-title();
}


.contact-methods {
  display: flex;
  justify-content: center;
  width: 100%;
}


.contact-method-wrapper {
  border-radius: 50%;
  width: 32%;
  padding-top: 32%;
  margin: 2vh 1vw;
  border: 1px dotted #8c8c8c;
  max-width: 300px;
  position: relative;
  @include media-breakpoint-up(xl) {
    margin: 3vh 2vw;
  }
}


.contact-method {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contact-method-img {
  width: 15%;
  height: 15%;
  margin-top: -5%;
  margin-bottom: 10px;
  display: block;
}


.contact-method-link {
  @include make-button();
}
